@font-face {
  font-display: swap;
  font-family: "TTTsarsA";
  font-style: normal;
  src: url(../fonts/TTTsarsA-Black.woff) format("woff"), url(../fonts/fonts/TTTsarsA-Black.woff) format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "TTSquaresCondensed";
  font-style: normal;
  src: url(../fonts/TTSquaresCondensed-Black.woff) format("woff"), url(../fonts/fonts/TTSquaresCondensed-Black.woff) format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Gordita";
  font-style: normal;
  src: url(../fonts/Gordita-Regular.woff) format("woff"), url(../fonts/fonts/Gordita-Regular.woff) format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "BLACKHAWK";
  font-style: normal;
  src: url(../fonts/BLACKHAWK.woff) format("woff"), url(../fonts/fonts/BLACKHAWK.woff) format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "BLACKHAWK";
  font-style: italic;
  src: url(../fonts/BLACKHAWK-Italic.woff) format("woff"), url(../fonts/fonts/BLACKHAWK-Italic.woff) format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "BLACKHAWKSwash";
  font-style: italic;
  src: url(../fonts/BLACKHAWK-Swash.woff) format("woff"), url(../fonts/fonts/BLACKHAWK-Swash.woff) format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "TTNorms-Regular";
  font-style: normal;
  src: url(../fonts/TTNorms-Regular.woff) format("woff"), url(../fonts/fonts/TTNorms-Regular.woff) format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "TTNorms-Medium";
  font-style: normal;
  src: url(../fonts/TTNorms-Medium.woff) format("woff"), url(../fonts/fonts/TTNorms-Medium.woff) format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "TTNorms-Light";
  font-style: normal;
  src: url(../fonts/TTNorms-Light.woff) format("woff"), url(../fonts/fonts/TTNorms-Light.woff) format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "TTNorms-Bold";
  font-style: normal;
  src: url(../fonts/TTNorms-Bold.woff) format("woff"), url(../fonts/fonts/TTNorms-Bold.woff) format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "TTNorms-ExtraBold";
  font-style: normal;
  src: url(../fonts/TTNorms-ExtraBold.woff) format("woff"), url(../fonts/fonts/TTNorms-ExtraBold.woff) format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "TTNorms-Black";
  font-style: normal;
  src: url(../fonts/TTNorms-Black.woff) format("woff"), url(../fonts/fonts/TTNorms-Black.woff) format("woff2");
}
body {
  margin: 0;
  padding: 0;
}
@-webkit-keyframes bg {
  0% {
    background-position: 50% -10000%;
  }
  25% {
    background-position: 50% -7500%;
  }
  50% {
    background-position: 50% -5000%;
  }
  75% {
    background-position: 50% -2500%;
  }
  100% {
    background-position: 50% 0%;
  }
}
@keyframes bg {
  0% {
    background-position: 50% -10000%;
  }
  25% {
    background-position: 50% -7500%;
  }
  50% {
    background-position: 50% -5000%;
  }
  75% {
    background-position: 50% -2500%;
  }
  100% {
    background-position: 50% 0%;
  }
}
.index .main {
  background-color: black;
  background: rgba(0, 0, 0, 0.7);
  background-size: 100vh;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.index .main-img {
  background: url(../img/img--index-banner_statue-2550_original.png) center no-repeat;
  background-size: 100vh;
  background-position: bottom;
  -webkit-animation: bg 5s linear;
          animation: bg 5s linear;
}
.index .main-img .container-fluid .col-lg-3 {
  padding: 0;
}
.index .main-img .container-fluid .main-header .header-left {
  display: inline-block;
  padding-left: 18px;
  padding-top: 11px;
}
.index .main-img .container-fluid .main-header .header-left a span {
  font-family: 'TTNorms-Regular', sans-serif;
  color: #fff;
  text-decoration: none;
  display: inline-block;
  font-weight: 600;
  font-size: 38px;
}
.index .main-img .container-fluid .main-header .header-left a .first:hover::after {
  content: '';
  border: 1px solid #bfa372;
  display: inline-block;
  rotate: 90deg;
  width: 95px;
  margin: 0px 8px 13px 8px;
  background-color: #bfa372;
  -webkit-animation: fadeInLeft 0.5s ;
          animation: fadeInLeft 0.5s ;
}
.index .main-img .container-fluid .main-header .header-left a .second:after {
  content: '.';
  color: #bfa372;
  font-size: 2.5rem;
}
.index .main-img .container-fluid .main-header .header-left .eng {
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  margin-left: 111px;
  font-family: 'TTNorms-Regular', sans-serif;
}
.index .main-img .container-fluid .main-header .header-nav {
  display: inline-block;
  padding-top: 26px;
}
.index .main-img .container-fluid .main-header .header-nav ul {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.index .main-img .container-fluid .main-header .header-nav ul li {
  width: 128px;
  display: inline-block;
  padding: 0px 10px;
  text-align: center;
}
.index .main-img .container-fluid .main-header .header-nav ul li a {
  cursor: pointer;
  color: #fff;
  text-decoration: none;
  font-family: 'TTNorms-Regular', sans-serif;
}
.index .main-img .container-fluid .main-header .popup-link {
  text-decoration: none;
}
.index .main-img .container-fluid .main-header .popup-link .header-form {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 100%;
  height: 100%;
  background: #1d1c1c;
  border: none;
}
.index .main-img .container-fluid .main-header .popup-link .header-form .form-open {
  padding-top: 32px;
  padding-left: 60px ;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}
.index .main-img .container-fluid .main-header .popup-link .header-form .form-open span {
  font-family: 'TTNorms-Regular', sans-serif;
  display: inline-block;
  color: #bfa372;
  letter-spacing: .38em;
  font-size: 14px;
  font-weight: 550;
}
.index .main-img .container-fluid .main-header .popup-link .header-form .form-open .psevdo {
  display: inline-block;
}
.index .main-img .container-fluid .main-header .popup-link .header-form .form-open .psevdo .plus {
  display: inline-block;
  color: #fff;
  margin-left: 7px;
}
.index .main-img .container-fluid .main-header .popup-link .header-form .form-open .psevdo .plus:after {
  content: '';
  display: inline-block;
  border: 1px solid #fff;
  width: 50px;
  -webkit-transform: translateX(-78px) translateY(12px);
          transform: translateX(-78px) translateY(12px);
}
.index .main-img .container-fluid .main-header .popup-link .header-form .form-open .psevdo .plus:before {
  content: '+';
  display: inline-block;
  top: 0;
  left: 0;
  width: 100%;
}
.index .main-img .container-fluid .main-content {
  display: inline-block;
}
.index .main-img .container-fluid .main-content span {
  display: inline-block;
  font-weight: 700;
  font-size: 180px;
  line-height: 12rem;
  text-transform: uppercase;
}
.index .main-img .container-fluid .main-content .buro {
  visibility: visible;
}
.index .main-img .container-fluid .main-content .buro .line {
  color: transparent;
  -webkit-text-stroke-width: 2.75px;
  -webkit-text-stroke-color: #363636;
}
.index .main-img .container-fluid .main-content .buro .white {
  color: #fff;
}
.index .main-img .container-fluid .main-content .buro .gold {
  color: #bfa372;
}
.index .main-img .container-fluid .main-content .design {
  visibility: visible;
}
.index .main-img .container-fluid .main-content .design .line {
  color: transparent;
  -webkit-text-stroke-width: 2.75px;
  -webkit-text-stroke-color: #363636;
}
.index .main-img .container-fluid .main-content .design .white {
  color: #fff;
}
.index .main-img .container-fluid .main-content .design .gold {
  color: #bfa372;
}
.index .main-img .container-fluid .main-content .uslug {
  visibility: visible;
}
.index .main-img .container-fluid .main-content .uslug .line {
  color: transparent;
  -webkit-text-stroke-width: 2.75px;
  -webkit-text-stroke-color: #363636;
}
.index .main-img .container-fluid .main-content .uslug .white {
  color: #fff;
}
.index .main-img .container-fluid .main-content .uslug .gold {
  color: #bfa372;
}
.index .main-img .container-fluid .main-footer {
  position: absolute;
}
.index .main-img .container-fluid .main-footer .black {
  background-color: black;
  background: rgba(0, 0, 0, 0.4);
}
.index .main-img .container-fluid .main-footer .footer-year {
  color: #fff;
}
.index .main-img .container-fluid .main-footer .footer-be {
  text-align: center;
}
.index .main-img .container-fluid .main-footer .footer-be a {
  color: #fff;
  text-decoration: none;
}
.index .main-img .container-fluid .main-footer .footer-mail {
  text-align: right;
}
.index .main-img .container-fluid .main-footer .footer-mail a {
  color: #bfa372;
  text-decoration: none;
}
.cont .contacts .main-contacts .popup-link {
  text-decoration: none;
}
.cont .contacts .main-contacts .container-fluid .col-lg-3 {
  padding: 0;
}
.cont .contacts .main-contacts .container-fluid .col-lg-5 {
  padding-right: 2rem;
}
.cont .contacts .main-contacts .header-left {
  display: inline-block;
  padding-left: 18px;
  padding-top: 11px;
}
.cont .contacts .main-contacts .header-left a span {
  font-family: 'TTNorms-Regular', sans-serif;
  color: #000;
  text-decoration: none;
  display: inline-block;
  font-weight: 600;
  font-size: 38px;
}
.cont .contacts .main-contacts .header-left a .first:hover::after {
  content: '';
  border: 1px solid #bfa372;
  display: inline-block;
  rotate: 90deg;
  width: 95px;
  margin: 0px 8px 13px 8px;
  background-color: #bfa372;
  -webkit-animation: fadeInLeft 0.5s ;
          animation: fadeInLeft 0.5s ;
}
.cont .contacts .main-contacts .header-left a .second:after {
  content: '.';
  color: #bfa372;
  font-size: 2.5rem;
}
.cont .contacts .main-contacts .header-left .eng {
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  color: #000;
  margin-left: 111px;
  font-family: 'TTNorms-Regular', sans-serif;
}
.cont .contacts .main-contacts .header-nav {
  display: inline-block;
  padding-top: 26px;
}
.cont .contacts .main-contacts .header-nav ul {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.cont .contacts .main-contacts .header-nav ul li {
  width: 128px;
  display: inline-block;
  padding: 0px 10px;
  text-align: center;
  font-size: 1.7rem	;
}
.cont .contacts .main-contacts .header-nav ul li a {
  cursor: pointer;
  color: #000;
  text-decoration: none;
  font-family: 'TTNorms-Regular', sans-serif;
}
.cont .contacts .main-contacts .header-form {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 100%;
  height: 100%;
  background: #1d1c1c;
  border: none;
}
.cont .contacts .main-contacts .header-form .form-open {
  padding-top: 32px;
  padding-left: 60px ;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}
.cont .contacts .main-contacts .header-form .form-open span {
  font-family: 'TTNorms-Regular', sans-serif;
  display: inline-block;
  color: #bfa372;
  letter-spacing: .38em;
  font-size: 14px;
  font-weight: 550;
}
.cont .contacts .main-contacts .header-form .form-open .psevdo {
  display: inline-block;
}
.cont .contacts .main-contacts .header-form .form-open .psevdo .plus {
  display: inline-block;
  color: #fff;
  margin-left: 7px;
}
.cont .contacts .main-contacts .header-form .form-open .psevdo .plus:after {
  content: '';
  display: inline-block;
  border: 1px solid #fff;
  width: 50px;
  -webkit-transform: translateX(-78px) translateY(12px);
          transform: translateX(-78px) translateY(12px);
}
.cont .contacts .main-contacts .header-form .form-open .psevdo .plus:before {
  content: '+';
  display: inline-block;
  top: 0;
  left: 0;
  width: 100%;
}
.cont .contacts .contacts-form .form-q {
  font-family: 'TTNorms-Regular', sans-serif;
  padding-top: 2rem;
}
.cont .contacts .contacts-form .form-q span {
  font-size: 46px;
}
.cont .contacts .contacts-form .form-q span p {
  font-size: 30px;
}
.cont .contacts .contacts-form .form-number {
  font-family: 'TTNorms-Regular', sans-serif;
  padding-top: 2rem;
}
.cont .contacts .contacts-form .form-number span {
  font-size: 26px;
}
.cont .contacts .contacts-form .form-number span p {
  font-size: 147px;
}
.cont .contacts .contacts-form .form-mail {
  font-family: 'TTNorms-Regular', sans-serif;
  padding-top: 1.5rem;
}
.cont .contacts .contacts-form .form-mail a {
  color: #000;
  font-size: 35px;
  display: inline-block;
  -webkit-text-decoration-color: #bfa372 ;
          text-decoration-color: #bfa372 ;
}
.cont .contacts .contacts-form .form-mail a p {
  color: #bfa372;
  display: inline-block;
}
.cont .contacts .contacts-form .form-proj {
  font-family: 'TTNorms-Regular', sans-serif;
}
.cont .contacts .contacts-form .form-proj span {
  font-size: 32px;
}
.cont .contacts .contacts-footer {
  padding-top: 4.45rem;
}
.cont .contacts .contacts-footer .black {
  background-color: black;
  background: rgba(0, 0, 0, 0.01);
}
.cont .contacts .contacts-footer .footer-year {
  color: #000;
}
.cont .contacts .contacts-footer .footer-be {
  text-align: center;
}
.cont .contacts .contacts-footer .footer-be a {
  color: #000;
  text-decoration: none;
}
.cont .contacts .contacts-footer .footer-mail {
  text-align: right;
}
.cont .contacts .contacts-footer .footer-mail a {
  color: #bfa372;
  text-decoration: none;
}
.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #181717;
  top: 0;
  left: 0;
  visibility: hidden;
  overflow-y: auto ;
  overflow-x: hidden;
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  -webkit-transform: translate(0px, -100%);
          transform: translate(0px, -100%);
  opacity: 0;
}
.popup a {
  text-decoration: none;
}
.popup:target {
  opacity: 1;
  visibility: visible;
}
.popup:target {
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  opacity: 1;
}
.popup-body {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.popup-content {
  color: #fff;
  width: 100%;
  height: 100vh;
}
.popup-content .main-header {
  position: top;
  text-decoration: none;
}
.popup-content .main-header .header-left {
  display: inline-block;
  padding-left: 18px;
  padding-top: 11px;
}
.popup-content .main-header .header-left a span {
  font-family: 'TTNorms-Regular', sans-serif;
  color: #fff;
  text-decoration: none;
  display: inline-block;
  font-weight: 600;
  font-size: 38px;
}
.popup-content .main-header .header-left a .first:hover::after {
  content: '';
  border: 1px solid #bfa372;
  display: inline-block;
  rotate: 90deg;
  width: 95px;
  margin: 0px 8px 13px 8px;
  background-color: #bfa372;
  -webkit-animation: fadeInLeft 0.5s ;
          animation: fadeInLeft 0.5s ;
}
.popup-content .main-header .header-left a .second:after {
  content: '.';
  color: #bfa372;
  font-size: 2.5rem;
}
.popup-content .main-header .header-left .eng {
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  margin-left: 111px;
  font-family: 'TTNorms-Regular', sans-serif;
}
.popup-content .main-header .header-nav {
  display: inline-block;
  padding-top: 26px;
}
.popup-content .main-header .header-nav ul {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.popup-content .main-header .header-nav ul li {
  width: 128px;
  display: inline-block;
  padding: 0px 10px;
  text-align: center;
  font-size: 1.7rem	;
}
.popup-content .main-header .header-nav ul li a {
  cursor: pointer;
  color: #fff;
  text-decoration: none;
  font-family: 'TTNorms-Regular', sans-serif;
}
.popup-content .main-header .header-form {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 100%;
  height: 90px;
  background: #1d1c1c;
  border: none;
}
.popup-content .main-header .header-form a {
  color: #fff;
}
.popup-content .main-header .header-form .form-open {
  padding-top: 32px;
  padding-left: 80px ;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}
.popup-content .main-header .header-form .form-open span {
  font-family: 'TTNorms-Regular', sans-serif;
  display: inline-block;
  color: #fff;
  letter-spacing: .38em;
  font-size: 14px;
  font-weight: 600;
  -webkit-transition-duration: 1000ms;
          transition-duration: 1000ms;
}
.popup-content .main-header .header-form .form-open span img:hover {
  color: #fff;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.popup-content .popup-number .number-now span {
  display: block;
  font-size: 100px;
  line-height: 118px;
  text-transform: uppercase;
  font-weight: 500;
  color: transparent;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: #f2f2f2;
  text-align: left;
  padding-left: 4rem;
}
.popup-content .popup-number .number-now span::after {
  content: '';
  display: inline-block;
  border: 2px solid #fff;
  background-color: #fff;
  top: 0;
  left: 0;
  width: 80px;
  -webkit-transform: translateX(20px) translateY(-30px);
          transform: translateX(20px) translateY(-30px);
}
.popup-content .popup-number .number-lleft span {
  text-align: center;
  display: block;
  -webkit-transform: rotate(-90deg) translateX(10%) translateY(300px);
  transform: rotate(-90deg) translateX(10%) translateY(300px);
  font-size: 16px;
  line-height: 19px;
  color: #bfa372;
}
.popup-content .popup-number .next {
  text-align: right;
}
.popup-content .popup-number .next span {
  padding-right: 5rem;
  padding-top: 3rem;
  display: block;
  font-size: 18px;
  line-height: 1.5;
  font-weight: 700;
  letter-spacing: .535em;
  color: #bfa372;
  margin-right: -10px;
  padding-bottom: 26px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.popup-content .popup-number .next span::before {
  content: '';
  top: 0;
  left: 0;
  width: 80px;
  display: inline-block;
  border: 1px solid #bfa372;
  -webkit-transform: translateX(80px) translateY(15px);
          transform: translateX(80px) translateY(15px);
}
.popup-title {
  display: block;
  font-size: 10px;
  line-height: 15px;
  letter-spacing: .8em;
  text-transform: uppercase;
  color: #fff;
  padding-bottom: 31px;
  position: relative;
  margin-bottom: 92px;
}
.popup-text .tell {
  color: #fff;
  font-size: 75px;
  line-height: 89px;
  font-weight: 700;
  position: relative;
  z-index: 5;
}
.popup-text span {
  display: block;
  font-size: 25px;
  line-height: 28px;
  letter-spacing: .7em;
  color: #bfa372;
  font-weight: 400;
  margin-bottom: 3rem;
}
.popup-text .about {
  display: block;
  color: #fff;
  font-weight: 400;
  font-size: 55px;
  line-height: 65px;
  margin-bottom: 20px;
}
.popup-text .our {
  display: block;
  margin-left: 60px;
  color: #fff;
  font-size: 15px;
  line-height: 1.7;
  padding-right: 40px;
}
.popup-form {
  text-align: center;
  padding-top: 10rem;
}
.popup-form .inp {
  display: block;
  width: 100%;
  background: 0 0;
  border: 0;
  border-bottom: 2px solid #707070;
  padding-left: 30px;
  padding-right: 20px;
  font-size: 20px;
  padding-top: 35px;
  margin-bottom: 1rem;
  border-radius: 10px;
  color: #fff;
  padding: 20px;
}
.popup-form .inp:hover {
  -webkit-box-shadow: inset 0 0 0 2px #bfa372;
          box-shadow: inset 0 0 0 2px #bfa372;
}
.popup-form label {
  display: inline-block;
  position: absolute;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  background-color: #181717;
}
.popup-two .popup-content .popup-number .number-now span {
  text-align: left;
}
.popup-two .popup-content .popup-number .number-now span::after {
  width: 160px;
}
.popup-two .popup-form .on-click {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 183px;
  position: relative;
  color: #fff;
  font-size: 41px;
  line-height: 4rem;
  cursor: pointer;
  overflow: hidden;
}
.popup-two .popup-form .on-click::before {
  position: absolute;
  content: "";
  left: 0;
  top: 40px;
  width: 100px;
  height: 3px;
  background: #fff;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.onclick-animate {
  -webkit-transition-property: margin-left;
  transition-property: margin-left;
  -webkit-transition-duration: 9s;
          transition-duration: 9s;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  color: #000;
}
.popup-three .popup-content .popup-form {
  margin-top: 3rem;
}
.popup-three .popup-content .popup-form .slider .price {
  padding-bottom: 5rem;
}
.popup-three .popup-content .popup-form .slider .price p span {
  left: 0px;
  top: 0px;
  padding-right: 2.5rem;
  font-size: 1.6rem;
  display: inline-block;
  -webkit-transform: translateY(-60px);
          transform: translateY(-60px);
}
.popup-three .popup-content .popup-form .slider .price p span::before {
  content: 'руб';
  display: inline-block;
  top: 0;
  left: 0;
  -webkit-transform: translateX(60px) translateY(60px);
          transform: translateX(60px) translateY(60px);
}
.popup-three .popup-content .popup-form .slider .price .text {
  text-align: left;
  margin-bottom: -5px;
  font-size: 0.7rem;
}
.popup-three .popup-content .popup-form .slider .price h3 {
  text-align: left;
  font-size: 1.2rem;
}
.popup-three .popup-content .popup-form .slider .price input[type=range] {
  position: relative;
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.popup-three .popup-content .popup-form .slider .price input[type=range]::-webkit-slider-runnable-track {
  border-radius: 5px;
  height: 2px;
  background-color: #bfa372;
}
.popup-three .popup-content .popup-form .slider .price input[type=range]::-webkit-slider-thumb {
  background: #bfa372;
  border-radius: 10px;
  border: 3px solid rgba(0, 0, 0, 0.9);
  cursor: pointer;
  width: 17px;
  height: 17px;
  -webkit-appearance: none;
  margin-top: -7px;
}
.popup-three .popup-content .popup-form .slider .price input[type=range]::-moz-range-track {
  border-radius: 0.1px;
  height: 2px;
  background-color: #bfa372;
}
.popup-three .popup-content .popup-form .slider .price input[type=range]::-moz-range-thumb {
  background: #bfa372;
  border-radius: 0.1px;
  cursor: pointer;
}
.popup-three .popup-content .popup-form .slider .days p span {
  visibility: visible;
  display: inline-block;
  left: 0px;
  top: 0px;
  padding-right: 3.6rem;
  font-size: 1.6rem;
  -webkit-transform: translateY(-60px);
          transform: translateY(-60px);
}
.popup-three .popup-content .popup-form .slider .days p span::before {
  content: 'дней';
  display: inline-block;
  top: 0;
  left: 0;
  -webkit-transform: translateX(45px) translateY(60px);
          transform: translateX(45px) translateY(60px);
}
.popup-three .popup-content .popup-form .slider .days .text {
  text-align: left;
  margin-bottom: -5px;
  font-size: 0.7rem;
}
.popup-three .popup-content .popup-form .slider .days h3 {
  text-align: left;
  font-size: 1.2rem;
}
.popup-three .popup-content .popup-form .slider .days input[type=range] {
  position: relative;
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.popup-three .popup-content .popup-form .slider .days input[type=range]::-webkit-slider-runnable-track {
  border-radius: 5px;
  height: 2px;
  background-color: #bfa372;
}
.popup-three .popup-content .popup-form .slider .days input[type=range]::-webkit-slider-thumb {
  background: #bfa372;
  border-radius: 10px;
  border: 3px solid rgba(0, 0, 0, 0.9);
  cursor: pointer;
  width: 17px;
  height: 17px;
  -webkit-appearance: none;
  margin-top: -7px;
}
.popup-three .popup-content .popup-form .slider .days input[type=range]::-moz-range-track {
  border-radius: 0.1px;
  height: 2px;
  background-color: #bfa372;
}
.popup-three .popup-content .popup-form .slider .days input[type=range]::-moz-range-thumb {
  background: #bfa372;
  border-radius: 0.1px;
  cursor: pointer;
}
.popup-three .popup-content .popup-number .number-now span {
  text-align: left;
}
.popup-three .popup-content .popup-number .number-now span::after {
  width: 240px;
}
.popup-four .popup-content .popup-form p {
  color: #bfa372;
}
.popup-four .popup-content .popup-form .descrip {
  width: 100%;
  height: 100%;
  background-color: #181717;
  color: #fff;
}
.popup-four .popup-content .popup-number .number-now span {
  text-align: left;
}
.popup-four .popup-content .popup-number .number-now span::after {
  width: 320px;
}
.popup-five .popup-content .popup-form p {
  color: #bfa372;
}
.popup-five .popup-content .popup-form .descrip {
  width: 100%;
  height: 100%;
  background-color: #181717;
  color: #fff;
}
.popup-five .popup-content .popup-number .number-now span {
  text-align: left;
}
.popup-five .popup-content .popup-number .number-now span::after {
  width: 400px;
}
.popup-last .popup-body {
  width: 100%;
  height: 100vh;
}
@media (min-width: 2560px) {
  .index .main {
    overflow-x: hidden;
    position: absolute;
  }
  .index .main .main-header {
    height: 100%;
  }
  .index .main .main-header .header-logo .header-left {
    padding-left: 60px;
    padding-top: 15px;
  }
  .index .main .main-header .header-logo .header-left a span {
    font-family: 'TTNorms-Regular', sans-serif;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    font-weight: 600;
    font-size: 4rem;
  }
  .index .main .main-header .header-logo .header-left a .first::after {
    content: '';
    border: 1px solid #bfa372;
    display: inline-block;
    rotate: 90deg;
    width: 150px;
    margin: 0px 8px 25px 8px;
    background-color: #bfa372;
  }
  .index .main .main-header .header-logo .header-left a .second:after {
    content: '.';
    color: #bfa372;
    font-size: 5rem;
  }
  .index .main .main-header .header-logo .header-left .eng {
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: 500;
    color: #fff;
    margin-left: 111px;
    font-family: 'TTNorms-Regular', sans-serif;
  }
  .index .main .main-header .header-nav {
    display: inline-block;
    width: 100%;
    height: 100%;
  }
  .index .main .main-header .header-nav ul {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    display: inline-block;
  }
  .index .main .main-header .header-nav ul li {
    width: 24%;
    height: 40%;
    display: inline-block;
    text-align: center;
    font-size: 2rem;
  }
  .index .main .main-header .header-nav ul li a {
    cursor: pointer;
    color: #fff;
    text-decoration: none;
    font-family: 'TTNorms-Regular', sans-serif;
  }
  .index .main .main-header .popup-link {
    text-decoration: none;
  }
  .index .main .main-header .popup-link .header-form {
    display: inline-block;
    vertical-align: right;
    width: 100%;
    height: 100%;
    background: #1d1c1c;
    border: none;
  }
  .index .main .main-header .popup-link .header-form .form-open {
    display: inline-block;
    padding-top: 2.8rem;
    padding-right: 3rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
  }
  .index .main .main-header .popup-link .header-form .form-open span {
    font-family: 'TTNorms-Regular', sans-serif;
    display: inline-block;
    color: #bfa372;
    letter-spacing: .38em;
    font-size: 1.6rem;
    font-weight: 550;
  }
  .index .main .main-header .popup-link .header-form .form-open .line {
    position: relative;
  }
  .index .main .main-header .popup-link .header-form .form-open .line:before {
    content: '';
    display: inline-block;
    border: 1px solid #fff;
    color: #fff;
    width: 90px;
    -webkit-transform: translateX(220px) translateY(57px);
            transform: translateX(220px) translateY(57px);
    position: absolute;
  }
  .index .main .main-header .popup-link .header-form .form-open .psevdo {
    display: inline-block;
  }
  .index .main .main-header .popup-link .header-form .form-open .psevdo .plus {
    display: inline-block;
    color: #fff;
    margin-left: 7px;
  }
  .index .main .main-header .popup-link .header-form .form-open .psevdo .plus:after {
    content: '+';
    display: inline-block;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-transform: translateX(60px) translateY(0px);
            transform: translateX(60px) translateY(0px);
  }
  .index .main .main-content {
    padding-top: 20rem;
    height: 87vh;
    width: 100%;
  }
  .index .main .main-content span {
    display: inline;
    font-weight: 700;
    font-size: 16rem;
    line-height: 12rem;
    text-transform: uppercase;
  }
  .index .main .main-content .buro {
    padding-bottom: 3rem;
    visibility: visible;
    margin-left: -15%;
  }
  .index .main .main-content .buro .line {
    color: transparent;
    -webkit-text-stroke-width: 2.75px;
    -webkit-text-stroke-color: #363636;
  }
  .index .main .main-content .buro .white {
    color: #fff;
  }
  .index .main .main-content .buro .gold {
    color: #bfa372;
  }
  .index .main .main-content .design {
    visibility: visible;
    margin-left: 15%;
    height: 21%;
  }
  .index .main .main-content .design .line {
    display: inline-block;
    color: transparent;
    -webkit-text-stroke-width: 2.75px;
    -webkit-text-stroke-color: #363636;
  }
  .index .main .main-content .design .white {
    display: inline;
    color: #fff;
  }
  .index .main .main-content .design .gold {
    display: inline;
    color: #bfa372;
  }
  .index .main .main-content .uslug {
    visibility: visible;
    margin-left: 2%;
  }
  .index .main .main-content .uslug .line {
    color: transparent;
    -webkit-text-stroke-width: 2.75px;
    -webkit-text-stroke-color: #363636;
  }
  .index .main .main-content .uslug .white {
    color: #fff;
  }
  .index .main .main-content .uslug .gold {
    color: #bfa372;
  }
  .index .main .main-footer {
    height: 100%;
    padding-top: 0;
  }
  .index .main .main-footer .black {
    height: 100%;
    background-color: black;
    background: rgba(0, 0, 0, 0.4);
  }
  .index .main .main-footer .footer-year {
    color: #fff;
  }
  .index .main .main-footer .footer-year p {
    padding-left: 60px;
    font-family: 'TTNorms-Regular', sans-serif;
    padding-top: 1rem;
    font-size: 1.9rem;
    height: 100%;
  }
  .index .main .main-footer .footer-year p .c {
    color: #bfa372;
  }
  .index .main .main-footer .footer-year p .space {
    color: #bfa372;
  }
  .index .main .main-footer .footer-be {
    text-align: center;
  }
  .index .main .main-footer .footer-be a {
    font-family: 'TTNorms-Regular', sans-serif;
    font-size: 2.3rem;
    color: #fff;
    text-decoration: none;
  }
  .index .main .main-footer .footer-be a svg {
    fill: #fff;
    width: 27px;
    height: 27px;
  }
  .index .main .main-footer .footer-mail {
    text-align: right;
  }
  .index .main .main-footer .footer-mail a {
    padding-right: 60px;
    font-family: 'TTNorms-Light', sans-serif;
    font-size: 1.9rem;
    color: #bfa372;
    text-decoration: none;
  }
  .index .main .main-footer .footer-mail a span:before {
    content: '';
    display: inline-block;
    top: 0;
    left: 0;
    border: 1px solid #bfa372;
    color: #bfa372;
    width: 150px;
    -webkit-transform: translateX(-10px) translateY(-5px);
            transform: translateX(-10px) translateY(-5px);
  }
}
@media (max-width: 3453px) {
  .index .main .main-content .design .line {
    -webkit-transform: translateX(111%) translateY(-111%);
            transform: translateX(111%) translateY(-111%);
  }
}
@media (min-width: 3087px) {
  .index .main .main-content .buro {
    margin-left: -5%;
  }
  .index .main .main-content .design {
    margin-left: 24%;
  }
  .index .main .main-content .uslug {
    margin-left: 20%;
  }
}
@media (min-width: 2052px) and (max-width: 2559px) {
  .index .main .main-content .design .line {
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
  }
}
@media (min-width: 1900px) and (max-width: 1920px) {
  .index .main .main-content .design .line {
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
  }
}
@media (min-width: 1920px) and (max-width: 2559px) {
  .index {
    overflow-x: hidden;
  }
  .index .main {
    overflow-y: hidden;
    overflow-x: hidden;
  }
  .index .main .main-header {
    height: 100px;
  }
  .index .main .main-header .col-lg-4,
  .index .main .main-header .col-lg-5,
  .index .main .main-header .col-lg-3 {
    height: 150px;
  }
  .index .main .main-header .header-logo {
    height: 100px;
  }
  .index .main .main-header .header-logo .header-left {
    padding-left: 30px;
    padding-top: 0px;
  }
  .index .main .main-header .header-logo .header-left a span {
    font-family: 'TTNorms-Regular', sans-serif;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    font-weight: 600;
    font-size: 4rem;
  }
  .index .main .main-header .header-logo .header-left a .first:hover::after {
    content: '';
    border: 2px solid #bfa372;
    display: inline-block;
    rotate: 90deg;
    width: 150px;
    margin: 0px 8px 25px 8px;
    background-color: #bfa372;
    -webkit-animation: fadeInLeft 0.5s ;
            animation: fadeInLeft 0.5s ;
  }
  .index .main .main-header .header-logo .header-left a .second:after {
    content: '.';
    color: #bfa372;
    font-size: 5rem;
  }
  .index .main .main-header .header-logo .header-left .eng {
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 500;
    color: #fff;
    margin-left: 111px;
    font-family: 'TTNorms-Regular', sans-serif;
  }
  .index .main .main-header .header-nav {
    display: inline-block;
    width: 100%;
    height: 100%;
  }
  .index .main .main-header .header-nav ul {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    display: inline-block;
  }
  .index .main .main-header .header-nav ul li {
    width: 24%;
    height: 40%;
    display: inline-block;
    text-align: center;
    font-size: 1.6rem;
  }
  .index .main .main-header .header-nav ul li a {
    cursor: pointer;
    color: #fff;
    text-decoration: none;
    font-family: 'TTNorms-Regular', sans-serif;
  }
  .index .main .main-header .popup-link {
    text-decoration: none;
  }
  .index .main .main-header .popup-link .header-form {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 100%;
    height: 100%;
    background: #1d1c1c;
    border: none;
  }
  .index .main .main-header .popup-link .header-form .form-open {
    padding-top: 0;
    padding-right: 20px;
    display: inline-block;
    padding-top: 3rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
  }
  .index .main .main-header .popup-link .header-form .form-open span {
    font-family: 'TTNorms-Regular', sans-serif;
    display: inline-block;
    color: #bfa372;
    letter-spacing: .38em;
    font-size: 1.4rem;
    font-weight: 550;
  }
  .index .main .main-header .popup-link .header-form .form-open .psevdo {
    display: inline-block;
  }
  .index .main .main-header .popup-link .header-form .form-open .psevdo span {
    display: inline-block;
    color: #fff;
    margin-left: 7px;
  }
  .index .main .main-header .popup-link .header-form .form-open .psevdo span::after {
    content: '';
    display: inline-block;
    border: 1px solid #fff;
    width: 75%;
    -webkit-transform: translateX(-10%) translateY(-17px);
            transform: translateX(-10%) translateY(-17px);
  }
  .index .main .main-content {
    padding-top: 7rem;
    height: 885px;
    width: 100%;
  }
  .index .main .main-content span {
    display: inline;
    font-weight: 700;
    font-size: 12rem;
    line-height: 12rem;
    text-transform: uppercase;
  }
  .index .main .main-content .buro {
    padding-bottom: 1rem;
    visibility: visible;
    margin-left: -15%;
  }
  .index .main .main-content .buro .line {
    color: transparent;
    -webkit-text-stroke-width: 2.75px;
    -webkit-text-stroke-color: #363636;
  }
  .index .main .main-content .buro .white {
    color: #fff;
  }
  .index .main .main-content .buro .gold {
    color: #bfa372;
  }
  .index .main .main-content .design {
    padding-bottom: 1rem;
    visibility: visible;
    margin-left: 15%;
    height: 30%;
  }
  .index .main .main-content .design .line {
    display: inline-block;
    color: transparent;
    -webkit-text-stroke-width: 2.75px;
    -webkit-text-stroke-color: #363636;
  }
  .index .main .main-content .design .white {
    display: inline;
    color: #fff;
  }
  .index .main .main-content .design .gold {
    display: inline;
    color: #bfa372;
  }
  .index .main .main-content .uslug {
    visibility: visible;
    margin-left: 2%;
  }
  .index .main .main-content .uslug .line {
    color: transparent;
    -webkit-text-stroke-width: 2.75px;
    -webkit-text-stroke-color: #363636;
  }
  .index .main .main-content .uslug .white {
    color: #fff;
  }
  .index .main .main-content .uslug .gold {
    color: #bfa372;
  }
  .index .main .main-footer {
    height: 100px;
    padding-top: 0;
  }
  .index .main .main-footer .container-fluid {
    height: 100%;
  }
  .index .main .main-footer .container-fluid .row {
    height: 100%;
  }
  .index .main .main-footer .container-fluid .row .col-lg-4 {
    height: 100%;
  }
  .index .main .main-footer .black {
    height: 100%;
    background-color: black;
    background: rgba(0, 0, 0, 0.4);
  }
  .index .main .main-footer .footer-year {
    height: 100%;
    color: #fff;
  }
  .index .main .main-footer .footer-year p {
    font-family: 'TTNorms-Regular', sans-serif;
    padding-top: 1rem;
    font-size: 1.6rem;
    height: 100%;
  }
  .index .main .main-footer .footer-be {
    height: 100%;
    text-align: center;
  }
  .index .main .main-footer .footer-be a {
    font-family: 'TTNorms-Regular', sans-serif;
    font-size: 1.7rem;
    color: #fff;
    text-decoration: none;
  }
  .index .main .main-footer .footer-mail {
    height: 100%;
    text-align: right;
  }
  .index .main .main-footer .footer-mail a {
    font-family: 'TTNorms-Regular', sans-serif;
    font-size: 1.7rem;
    color: #bfa372;
    text-decoration: none;
  }
}
@media (min-width: 1366px) and (max-width: 1920px) {
  .index {
    overflow-x: hidden;
  }
  .index .main .main-header {
    height: 100px;
  }
  .index .main .main-header .col-lg-4,
  .index .main .main-header .col-lg-5,
  .index .main .main-header .col-lg-3 {
    height: 110px;
  }
  .index .main .main-header .header-logo {
    height: 100px;
  }
  .index .main .main-header .header-logo .header-left {
    height: 100%;
    padding-left: 30px;
    padding-top: 0px;
  }
  .index .main .main-header .header-logo .header-left a span {
    font-family: 'TTNorms-Regular', sans-serif;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    font-weight: 600;
    font-size: 3.5rem;
  }
  .index .main .main-header .header-logo .header-left a .first:hover::after {
    content: '';
    border: 2px solid #bfa372;
    display: inline-block;
    rotate: 90deg;
    width: 150px;
    margin: 0px 8px 25px 8px;
    background-color: #bfa372;
    -webkit-animation: fadeInLeft 0.5s ;
            animation: fadeInLeft 0.5s ;
  }
  .index .main .main-header .header-logo .header-left a .second:after {
    content: '.';
    color: #bfa372;
    font-size: 5rem;
  }
  .index .main .main-header .header-logo .header-left .eng {
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;
    color: #fff;
    margin-left: 111px;
    font-family: 'TTNorms-Regular', sans-serif;
  }
  .index .main .main-header .header-nav {
    display: inline-block;
    width: 100%;
    height: 100%;
  }
  .index .main .main-header .header-nav ul {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    display: inline-block;
  }
  .index .main .main-header .header-nav ul li {
    width: 24%;
    height: 40%;
    display: inline-block;
    text-align: center;
    font-size: 1.5rem;
  }
  .index .main .main-header .header-nav ul li a {
    cursor: pointer;
    color: #fff;
    text-decoration: none;
    font-family: 'TTNorms-Regular', sans-serif;
  }
  .index .main .main-header .popup-link {
    text-decoration: none;
  }
  .index .main .main-header .popup-link .header-form {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 100%;
    height: 100%;
    background: #1d1c1c;
    border: none;
  }
  .index .main .main-header .popup-link .header-form .form-open {
    display: inline-block;
    padding-top: 2.4rem;
    padding-left: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
  }
  .index .main .main-header .popup-link .header-form .form-open span {
    font-family: 'TTNorms-Regular', sans-serif;
    display: inline-block;
    color: #bfa372;
    letter-spacing: .38em;
    font-size: 1.1rem;
    font-weight: 550;
  }
  .index .main .main-header .popup-link .header-form .form-open .psevdo {
    display: inline-block;
  }
  .index .main .main-header .popup-link .header-form .form-open .psevdo span {
    display: inline-block;
    color: #fff;
    margin-left: 7px;
  }
  .index .main .main-header .popup-link .header-form .form-open .psevdo span::after {
    content: '';
    display: inline-block;
    border: 1px solid #fff;
    width: 75%;
    -webkit-transform: translateX(-10%) translateY(-17px);
            transform: translateX(-10%) translateY(-17px);
  }
  .index .main .main-content {
    padding-top: 4rem;
    height: 885px;
    width: 100%;
  }
  .index .main .main-content span {
    display: inline;
    font-weight: 700;
    font-size: 11rem;
    line-height: 12rem;
    text-transform: uppercase;
  }
  .index .main .main-content .buro {
    padding-bottom: 1rem;
    visibility: visible;
    margin-left: -15%;
  }
  .index .main .main-content .buro .line {
    color: transparent;
    -webkit-text-stroke-width: 2.75px;
    -webkit-text-stroke-color: #363636;
  }
  .index .main .main-content .buro .white {
    color: #fff;
  }
  .index .main .main-content .buro .gold {
    color: #bfa372;
  }
  .index .main .main-content .design {
    padding-bottom: 1rem;
    visibility: visible;
    margin-left: 15%;
    height: 27%;
  }
  .index .main .main-content .design .line {
    display: inline-block;
    color: transparent;
    -webkit-text-stroke-width: 2.75px;
    -webkit-text-stroke-color: #363636;
  }
  .index .main .main-content .design .white {
    display: inline;
    color: #fff;
  }
  .index .main .main-content .design .gold {
    display: inline;
    color: #bfa372;
  }
  .index .main .main-content .uslug {
    visibility: visible;
    margin-left: 2%;
  }
  .index .main .main-content .uslug .line {
    color: transparent;
    -webkit-text-stroke-width: 2.75px;
    -webkit-text-stroke-color: #363636;
  }
  .index .main .main-content .uslug .white {
    color: #fff;
  }
  .index .main .main-content .uslug .gold {
    color: #bfa372;
  }
  .index .main .main-footer {
    height: 80px;
    padding-top: 0;
  }
  .index .main .main-footer .container-fluid {
    height: 100%;
  }
  .index .main .main-footer .container-fluid .row {
    height: 100%;
  }
  .index .main .main-footer .container-fluid .row .col-lg-4 {
    height: 100%;
  }
  .index .main .main-footer .black {
    height: 100%;
    background-color: black;
    background: rgba(0, 0, 0, 0.4);
  }
  .index .main .main-footer .footer-year {
    height: 100%;
    color: #fff;
  }
  .index .main .main-footer .footer-year p {
    font-family: 'TTNorms-Regular', sans-serif;
    padding-top: 1rem;
    font-size: 1.2rem;
    height: 100%;
  }
  .index .main .main-footer .footer-be {
    height: 100%;
    text-align: center;
  }
  .index .main .main-footer .footer-be a {
    font-family: 'TTNorms-Regular', sans-serif;
    font-size: 1.4rem;
    color: #fff;
    text-decoration: none;
  }
  .index .main .main-footer .footer-mail {
    height: 100%;
    text-align: right;
  }
  .index .main .main-footer .footer-mail a {
    font-family: 'TTNorms-Regular', sans-serif;
    font-size: 1.4rem;
    color: #bfa372;
    text-decoration: none;
  }
}
@media (min-width: 768px) and (max-width: 1366px) {
  .index {
    overflow-x: hidden;
  }
  .index .main .main-header {
    height: 70px;
  }
  .index .main .main-header .col-lg-4,
  .index .main .main-header .col-lg-5,
  .index .main .main-header .col-lg-3,
  .index .main .main-header .col-md-4,
  .index .main .main-header .col-md-5,
  .index .main .main-header .col-md-3 {
    height: 70px;
    padding: 0;
  }
  .index .main .main-header .header-logo {
    height: 100%;
    width: 100%;
  }
  .index .main .main-header .header-logo .header-left {
    text-align: center;
    height: 100%;
    width: 100%;
    padding-left: 0px;
    padding-top: 20px;
  }
  .index .main .main-header .header-logo .header-left a span {
    font-family: 'TTNorms-Regular', sans-serif;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    font-weight: 600;
    font-size: 2rem;
  }
  .index .main .main-header .header-logo .header-left a .first:hover::after {
    content: '';
    border: 2px solid #bfa372;
    display: inline-block;
    rotate: 90deg;
    width: 150px;
    margin: 0px 8px 25px 8px;
    background-color: #bfa372;
    -webkit-animation: fadeInLeft 0.5s ;
            animation: fadeInLeft 0.5s ;
  }
  .index .main .main-header .header-logo .header-left a .second:after {
    content: '.';
    color: #bfa372;
    font-size: 2rem;
  }
  .index .main .main-header .header-logo .header-left .eng {
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 500;
    color: #fff;
    margin-left: 1.5rem;
    font-family: 'TTNorms-Regular', sans-serif;
  }
  .index .main .main-header .header-nav {
    display: inline-block;
    width: 320px;
    height: 100%;
  }
  .index .main .main-header .header-nav ul {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    display: inline-block;
  }
  .index .main .main-header .header-nav ul li {
    width: 24%;
    height: 40%;
    display: inline-block;
    text-align: center;
    font-size: 1rem;
    padding: 0;
  }
  .index .main .main-header .header-nav ul li a {
    cursor: pointer;
    color: #fff;
    text-decoration: none;
    font-family: 'TTNorms-Regular', sans-serif;
  }
  .index .main .main-header .popup-link {
    text-decoration: none;
  }
  .index .main .main-header .popup-link .header-form {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 100%;
    height: 100%;
    background: #1d1c1c;
    border: none;
  }
  .index .main .main-header .popup-link .header-form .form-open {
    display: inline-block;
    padding-top: 1.9rem;
    padding-left: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
  }
  .index .main .main-header .popup-link .header-form .form-open span {
    font-family: 'TTNorms-Regular', sans-serif;
    display: inline-block;
    color: #bfa372;
    letter-spacing: .38em;
    font-size: 0.7rem;
    font-weight: 550;
  }
  .index .main .main-header .popup-link .header-form .form-open .psevdo {
    display: inline-block;
  }
  .index .main .main-header .popup-link .header-form .form-open .psevdo span {
    display: inline-block;
    color: #fff;
    margin-left: 7px;
  }
  .index .main .main-header .popup-link .header-form .form-open .psevdo span::after {
    content: '';
    display: inline-block;
    border: 1px solid #fff;
    width: 75%;
    -webkit-transform: translateX(-10%) translateY(-12px);
            transform: translateX(-10%) translateY(-12px);
  }
  .index .main .main-content {
    padding-top: 0rem;
    height: 80%;
    width: 100%;
  }
  .index .main .main-content span {
    display: inline;
    font-weight: 700;
    font-size: 8rem;
    text-transform: uppercase;
  }
  .index .main .main-content .buro {
    padding-bottom: 0rem;
    visibility: visible;
    margin-left: -15%;
    height: 15%;
  }
  .index .main .main-content .buro .line {
    color: transparent;
    -webkit-text-stroke-width: 2.75px;
    -webkit-text-stroke-color: #363636;
  }
  .index .main .main-content .buro .white {
    color: #fff;
  }
  .index .main .main-content .buro .gold {
    color: #bfa372;
  }
  .index .main .main-content .design {
    padding-bottom: 0rem;
    visibility: visible;
    margin-left: 15%;
    height: 15%;
  }
  .index .main .main-content .design .line {
    display: inline-block;
    color: transparent;
    -webkit-text-stroke-width: 2.75px;
    -webkit-text-stroke-color: #363636;
  }
  .index .main .main-content .design .white {
    display: inline;
    color: #fff;
  }
  .index .main .main-content .design .gold {
    display: inline;
    color: #bfa372;
  }
  .index .main .main-content .uslug {
    visibility: visible;
    margin-left: 2%;
  }
  .index .main .main-content .uslug .line {
    color: transparent;
    -webkit-text-stroke-width: 2.75px;
    -webkit-text-stroke-color: #363636;
  }
  .index .main .main-content .uslug .white {
    color: #fff;
  }
  .index .main .main-content .uslug .gold {
    color: #bfa372;
  }
  .index .main .main-footer {
    height: 80px;
    padding-top: 0;
  }
  .index .main .main-footer .container-fluid {
    height: 100%;
  }
  .index .main .main-footer .container-fluid .row {
    height: 100%;
  }
  .index .main .main-footer .container-fluid .row .col-lg-4 {
    height: 100%;
  }
  .index .main .main-footer .black {
    height: 100%;
    background-color: black;
    background: rgba(0, 0, 0, 0.4);
  }
  .index .main .main-footer .footer-year {
    height: 100%;
    color: #fff;
  }
  .index .main .main-footer .footer-year p {
    font-family: 'TTNorms-Regular', sans-serif;
    padding-top: 1rem;
    font-size: 0.8rem;
    height: 100%;
  }
  .index .main .main-footer .footer-be {
    height: 100%;
    text-align: center;
  }
  .index .main .main-footer .footer-be a {
    font-family: 'TTNorms-Regular', sans-serif;
    font-size: 0.8rem;
    color: #fff;
    text-decoration: none;
  }
  .index .main .main-footer .footer-mail {
    height: 100%;
    text-align: right;
  }
  .index .main .main-footer .footer-mail a {
    font-family: 'TTNorms-Regular', sans-serif;
    font-size: 0.8rem;
    color: #bfa372;
    text-decoration: none;
  }
}
@media (min-width: 768px) and (max-width: 885px) {
  .index .main .main-content .uslug .white {
    -webkit-transform: translateX(200px);
            transform: translateX(200px);
  }
}
@media (min-width: 2744px) and (max-width: 3452px) {
  .index .main .main-content .design .line {
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
  }
}
