@font-face {
  font-display: swap;
  font-family: "TTTsarsA";
  font-style: normal;
  src: url(../fonts/TTTsarsA-Black.woff) format("woff"), url(../fonts/fonts/TTTsarsA-Black.woff) format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "TTSquaresCondensed";
  font-style: normal;
  src: url(../fonts/TTSquaresCondensed-Black.woff) format("woff"), url(../fonts/fonts/TTSquaresCondensed-Black.woff) format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Gordita";
  font-style: normal;
  src: url(../fonts/Gordita-Regular.woff) format("woff"), url(../fonts/fonts/Gordita-Regular.woff) format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "BLACKHAWK";
  font-style: normal;
  src: url(../fonts/BLACKHAWK.woff) format("woff"), url(../fonts/fonts/BLACKHAWK.woff) format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "BLACKHAWK";
  font-style: italic;
  src: url(../fonts/BLACKHAWK-Italic.woff) format("woff"), url(../fonts/fonts/BLACKHAWK-Italic.woff) format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "BLACKHAWKSwash";
  font-style: italic;
  src: url(../fonts/BLACKHAWK-Swash.woff) format("woff"), url(../fonts/fonts/BLACKHAWK-Swash.woff) format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "TTNorms-Regular";
  font-style: normal;
  src: url(../fonts/TTNorms-Regular.woff) format("woff"), url(../fonts/fonts/TTNorms-Regular.woff) format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "TTNorms-Medium";
  font-style: normal;
  src: url(../fonts/TTNorms-Medium.woff) format("woff"), url(../fonts/fonts/TTNorms-Medium.woff) format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "TTNorms-Light";
  font-style: normal;
  src: url(../fonts/TTNorms-Light.woff) format("woff"), url(../fonts/fonts/TTNorms-Light.woff) format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "TTNorms-Bold";
  font-style: normal;
  src: url(../fonts/TTNorms-Bold.woff) format("woff"), url(../fonts/fonts/TTNorms-Bold.woff) format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "TTNorms-ExtraBold";
  font-style: normal;
  src: url(../fonts/TTNorms-ExtraBold.woff) format("woff"), url(../fonts/fonts/TTNorms-ExtraBold.woff) format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "TTNorms-Black";
  font-style: normal;
  src: url(../fonts/TTNorms-Black.woff) format("woff"), url(../fonts/fonts/TTNorms-Black.woff) format("woff2");
}
body {
  margin: 0;
  padding: 0;
}
.bg-dark {
  background: #0d0d0d;
}
ul {
  list-style: none;
  font-size: 0;
  line-height: 0;
  letter-spacing: -1px;
}
a {
  text-decoration: none;
}
@-webkit-keyframes bg {
  0% {
    background-position: 50% -10000%;
  }
  25% {
    background-position: 50% -7500%;
  }
  50% {
    background-position: 50% -5000%;
  }
  75% {
    background-position: 50% -2500%;
  }
  100% {
    background-position: 50% 0%;
  }
}
@keyframes bg {
  0% {
    background-position: 50% -10000%;
  }
  25% {
    background-position: 50% -7500%;
  }
  50% {
    background-position: 50% -5000%;
  }
  75% {
    background-position: 50% -2500%;
  }
  100% {
    background-position: 50% 0%;
  }
}
.page-wrap {
  min-height: 100%;
  position: relative;
  min-width: 320px;
  height: 100%;
}
.page-wrap .bg-dark {
  min-height: 100%;
  position: relative;
}
.page-wrap .bg-dark main {
  height: 100%;
}
.page-wrap .bg-dark main .header {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 100;
}
.page-wrap .bg-dark main .header-main {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  width: 100%;
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
          justify-content: space-between;
  height: 113px;
}
.page-wrap .bg-dark main .header-main .header-left {
  display: inline-block;
  padding: 22px 0 0 63px;
}
.page-wrap .bg-dark main .header-main .header-left .header-logo {
  text-decoration: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  position: relative;
  z-index: 15;
}
.page-wrap .bg-dark main .header-main .header-left .header-logo span {
  display: inline-block;
  color: #fff;
  font-weight: 500;
  font-size: 56px;
  line-height: 66px;
}
.page-wrap .bg-dark main .header-main .header-left .header-logo hr {
  display: inline-block;
  margin: 0 20px;
  height: 4px;
  width: 150px;
  position: relative;
  overflow: hidden;
  opacity: 1;
  background-color: transparent;
}
.page-wrap .bg-dark main .header-main .header-left .header-logo hr::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0px;
  background-color: #bfa372;
}
.page-wrap .bg-dark main .header-main .header-left .header-logo span:last-child {
  letter-spacing: -0.21em;
}
.page-wrap .bg-dark main .header-main .header-left .header-logo span:last-child:after {
  content: ".";
  color: #bfa372;
  display: inline-block;
  left: 10px;
}
.page-wrap .bg-dark main .header-main .header-left .header-lang {
  display: inline-block;
  margin-left: 60px;
  margin-bottom: 20px;
  color: #fff;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  z-index: 15;
  text-decoration: none;
  -webkit-transform: translateX(20px) translateY(-28px);
          transform: translateX(20px) translateY(-28px);
}
.page-wrap .bg-dark main .header-main .header-nav {
  display: inline-block;
  width: 52%;
  margin-left: 135px;
  padding-top: 40px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.page-wrap .bg-dark main .header-main .header-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}
.page-wrap .bg-dark main .header-main .header-nav ul li {
  display: inline-block;
  width: 25%;
  padding: 0 10px;
  text-align: right;
}
.page-wrap .bg-dark main .header-main .header-nav ul li a {
  text-decoration: none;
  display: inline-block;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  font-size: 22px;
  line-height: 26px;
  color: #fff;
}
.page-wrap .bg-dark main .header-main .header-nav ul li a sup {
  color: #bfa372;
}
.page-wrap .bg-dark main .header-main .header-nav ul li .present::before {
  content: '';
  top: 0;
  left: 0;
  display: inline-block;
  border: 1px solid #bfa372;
  background-color: #bfa372;
  width: 80px;
  -webkit-transform: translateX(-30px) translateY(-6px);
          transform: translateX(-30px) translateY(-6px);
}
.page-wrap .bg-dark main .header-main .header-nav ul li .present::after {
  content: '>';
  top: 0;
  left: 0;
  color: #bfa372;
  display: inline-block;
  -webkit-transform: translateX(-272px) translateY(0px);
          transform: translateX(-272px) translateY(0px);
}
.page-wrap .bg-dark main .header-main .header-application {
  border: 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 100%;
  width: 390px;
  background: #1d1c1c;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  position: relative;
  z-index: 115;
  cursor: pointer;
}
.page-wrap .bg-dark main .header-main .header-application span {
  font-size: 18px;
  line-height: 21px;
  font-weight: 500;
  letter-spacing: .38em;
  color: #bfa372;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.page-wrap .bg-dark main .header-main .header-application .header-aplication-open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  padding: 0px 60px;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
  -ms-flex-pack: end;
  -webkit-box-pack: end;
          justify-content: flex-end;
}
.page-wrap .bg-dark main .header-main .header-application .header-aplication-open .zayava {
  display: inline-block;
}
.page-wrap .bg-dark main .header-main .header-application .header-aplication-open .proj {
  display: block;
  padding-top: 0px;
  padding-bottom: 0;
  padding-left: 10px;
  color: #fff;
}
.page-wrap .bg-dark main .header-main .header-application .header-aplication-open .proj::before {
  position: absolute;
  content: "";
  left: 208px;
  right: 0px;
  bottom: 30px;
  width: 70px;
  border-bottom: 1.5px solid #fff;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.page-wrap .bg-dark main .header-main .header-application .header-aplication-open .proj::after {
  position: absolute;
  content: "+";
  left: 290px;
  right: 0px;
  bottom: 22px;
  width: 0px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.page-wrap .bg-dark main .header-buro {
  position: absolute;
  left: 62px;
  top: 150px;
  width: 14px;
  height: 215px;
  z-index: 15;
}
.page-wrap .bg-dark main .header-buro span {
  display: block;
  -webkit-transform: rotate(-90deg) translateX(-150px);
          transform: rotate(-90deg) translateX(-150px);
  white-space: nowrap;
  color: #fff;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: .1em;
  text-transform: uppercase;
  text-align: right;
}
.page-wrap .bg-dark main .banner {
  display: block;
  height: 100vh;
  background: #181717;
  background: #0b0b0c;
  position: relative;
  overflow: hidden;
  z-index: 50;
}
.page-wrap .bg-dark main .banner .video-bg {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 0;
  opacity: 1!important;
}
.page-wrap .bg-dark main .banner .video-bg .video-index-bg {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  background: url(../img/texture__video_index.svg) no-repeat 50% 50%;
  background-size: cover;
}
.page-wrap .bg-dark main .banner .video-bg video {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 3880px;
  height: 2300px;
  min-width: 100vw;
  min-height: 100vh;
  opacity: .15;
}
.page-wrap .bg-dark main .banner .banner-img {
  background: url(../img/img--index-banner_statue-2550.png) center no-repeat;
  background-size: 100vh;
  height: 100%;
}
.page-wrap .bg-dark main .banner .banner-img .banner-text {
  height: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 10;
  padding-top: 72px;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
.page-wrap .bg-dark main .banner .banner-img .banner-text span {
  display: inline;
  font-weight: 700;
  font-size: 268px;
  line-height: 1;
  text-transform: uppercase;
}
.page-wrap .bg-dark main .banner .banner-img .banner-text .text-1 {
  visibility: visible;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-name: fadeInLeft;
          animation-name: fadeInLeft;
  margin-left: -1430px;
}
.page-wrap .bg-dark main .banner .banner-img .banner-text .text-1 .line {
  color: transparent;
  -webkit-text-stroke-width: 2.75px;
  -webkit-text-stroke-color: #363636;
}
.page-wrap .bg-dark main .banner .banner-img .banner-text .text-1 .white {
  color: #fff;
}
.page-wrap .bg-dark main .banner .banner-img .banner-text .text-1 .gold {
  color: #bfa372;
}
.page-wrap .bg-dark main .banner .banner-img .banner-text .text-2 {
  visibility: visible;
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
  -webkit-animation-name: fadeInRight;
          animation-name: fadeInRight;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 1363px;
}
.page-wrap .bg-dark main .banner .banner-img .banner-text .text-2 .line {
  color: transparent;
  -webkit-text-stroke-width: 2.75px;
  -webkit-text-stroke-color: #363636;
}
.page-wrap .bg-dark main .banner .banner-img .banner-text .text-2 .white {
  color: #fff;
}
.page-wrap .bg-dark main .banner .banner-img .banner-text .text-2 .gold {
  color: #bfa372;
}
.page-wrap .bg-dark main .banner .banner-img .banner-text .text-3 {
  visibility: visible;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
  -webkit-animation-name: fadeInLeft;
          animation-name: fadeInLeft;
  margin-left: -502px;
}
.page-wrap .bg-dark main .banner .banner-img .banner-text .text-3 .line {
  color: transparent;
  -webkit-text-stroke-width: 2.75px;
  -webkit-text-stroke-color: #363636;
}
.page-wrap .bg-dark main .banner .banner-img .banner-text .text-3 .white {
  color: #fff;
}
.page-wrap .bg-dark main .banner .banner-img .banner-text .text-3 .gold {
  color: #bfa372;
}
.page-wrap .bg-dark main .banner .banner-img .banner-text .banner-images {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
}
.page-wrap .bg-dark main .banner .banner-img .banner-text .banner-images img {
  position: absolute;
  visibility: visible;
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
}
.page-wrap .bg-dark main .banner .banner-img .banner-text .banner-images .banner-light-yellow {
  width: 153px;
  left: 50%;
  margin-left: 698px;
  bottom: 200px;
}
.page-wrap .bg-dark main .banner .banner-img .banner-text .banner-images .banner-star {
  width: 75px;
  left: 50%;
  top: 50%;
  margin-left: -30px;
  margin-top: 262px;
}
.page-wrap .bg-dark main .banner .banner-img .banner-text .banner-images .banner-hand {
  width: 78px;
  left: 48%;
  top: 50%;
  margin-left: 14px;
  margin-top: -286px;
}
.page-wrap .bg-dark main .banner .banner-img .banner-text .banner-images .banner-light-gray {
  width: 100px;
  left: 50%;
  margin-left: -830px;
  top: 252px;
}
.page-wrap .bg-dark main .footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 138px;
  padding: 20px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 50;
}
.page-wrap .bg-dark main .footer .footer-left {
  display: inline-block;
  padding-left: 23px;
  padding-top: 23px;
}
.page-wrap .bg-dark main .footer .footer-left .footer-year {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 8px;
}
.page-wrap .bg-dark main .footer .footer-left .footer-year span {
  display: inline-block;
  font-size: 24px;
  line-height: 28px;
  margin-right: 10px;
  color: #fff;
}
.page-wrap .bg-dark main .footer .footer-left .footer-year span.gold {
  color: #bfa372;
}
.page-wrap .bg-dark main .footer .footer-left .footer-copyright {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.page-wrap .bg-dark main .footer .footer-left .footer-copyright span {
  display: inline-block;
  color: #fff;
  font-size: 19px;
  line-height: 20px;
  font-weight: 400;
}
.page-wrap .bg-dark main .footer .footer-social {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translate(-38px, 10px);
          transform: translate(-38px, 10px);
}
.page-wrap .bg-dark main .footer .footer-social li {
  display: inline-block;
  margin: 0 50px;
}
.page-wrap .bg-dark main .footer .footer-social li a {
  cursor: pointer;
}
.page-wrap .bg-dark main .footer .footer-social li a svg {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  fill: #fff;
  width: 26px;
  height: 26px;
}
.page-wrap .bg-dark main .footer .footer-mail {
  display: inline-block;
  margin-bottom: 17px;
  font-size: 22px;
  line-height: 21px;
  color: #bfa372;
  position: relative;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  margin-right: 24px;
  text-decoration: none;
}
.page-wrap .bg-dark main .footer .footer-mail::before {
  position: absolute;
  content: "";
  width: 113px;
  height: 2px;
  background: #bfa372;
  left: -130px;
  bottom: 4px;
}
.cont .contacts .main-contacts .popup-link {
  text-decoration: none;
}
.cont .contacts .main-contacts .container-fluid .col-lg-3 {
  padding: 0;
}
.cont .contacts .main-contacts .container-fluid .col-lg-5 {
  padding-right: 2rem;
}
.cont .contacts .main-contacts .header-left {
  display: inline-block;
  padding-left: 18px;
  padding-top: 11px;
}
.cont .contacts .main-contacts .header-left a span {
  font-family: 'TTNorms-Regular', sans-serif;
  color: #000;
  text-decoration: none;
  display: inline-block;
  font-weight: 600;
  font-size: 38px;
}
.cont .contacts .main-contacts .header-left a .first:hover::after {
  content: '';
  border: 1px solid #bfa372;
  display: inline-block;
  rotate: 90deg;
  width: 95px;
  margin: 0px 8px 13px 8px;
  background-color: #bfa372;
  -webkit-animation: fadeInLeft 0.5s ;
          animation: fadeInLeft 0.5s ;
}
.cont .contacts .main-contacts .header-left a .second:after {
  content: '.';
  color: #bfa372;
  font-size: 2.5rem;
}
.cont .contacts .main-contacts .header-left .eng {
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  color: #000;
  margin-left: 111px;
  font-family: 'TTNorms-Regular', sans-serif;
}
.cont .contacts .main-contacts .header-nav {
  display: inline-block;
  padding-top: 26px;
}
.cont .contacts .main-contacts .header-nav ul {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.cont .contacts .main-contacts .header-nav ul li {
  width: 128px;
  display: inline-block;
  padding: 0px 10px;
  text-align: center;
  font-size: 1.7rem	;
}
.cont .contacts .main-contacts .header-nav ul li a {
  cursor: pointer;
  color: #000;
  text-decoration: none;
  font-family: 'TTNorms-Regular', sans-serif;
}
.cont .contacts .main-contacts .header-form {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 100%;
  height: 100%;
  background: #1d1c1c;
  border: none;
}
.cont .contacts .main-contacts .header-form .form-open {
  padding-top: 32px;
  padding-left: 60px ;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}
.cont .contacts .main-contacts .header-form .form-open span {
  font-family: 'TTNorms-Regular', sans-serif;
  display: inline-block;
  color: #bfa372;
  letter-spacing: .38em;
  font-size: 14px;
  font-weight: 550;
}
.cont .contacts .main-contacts .header-form .form-open .psevdo {
  display: inline-block;
}
.cont .contacts .main-contacts .header-form .form-open .psevdo .plus {
  display: inline-block;
  color: #fff;
  margin-left: 7px;
}
.cont .contacts .main-contacts .header-form .form-open .psevdo .plus:after {
  content: '';
  display: inline-block;
  border: 1px solid #fff;
  width: 50px;
  -webkit-transform: translateX(-78px) translateY(12px);
          transform: translateX(-78px) translateY(12px);
}
.cont .contacts .main-contacts .header-form .form-open .psevdo .plus:before {
  content: '+';
  display: inline-block;
  top: 0;
  left: 0;
  width: 100%;
}
.cont .contacts .contacts-form .form-q {
  font-family: 'TTNorms-Regular', sans-serif;
  padding-top: 2rem;
}
.cont .contacts .contacts-form .form-q span {
  font-size: 46px;
}
.cont .contacts .contacts-form .form-q span p {
  font-size: 30px;
}
.cont .contacts .contacts-form .form-number {
  font-family: 'TTNorms-Regular', sans-serif;
  padding-top: 2rem;
}
.cont .contacts .contacts-form .form-number span {
  font-size: 26px;
}
.cont .contacts .contacts-form .form-number span p {
  font-size: 147px;
}
.cont .contacts .contacts-form .form-mail {
  font-family: 'TTNorms-Regular', sans-serif;
  padding-top: 1.5rem;
}
.cont .contacts .contacts-form .form-mail a {
  color: #000;
  font-size: 35px;
  display: inline-block;
  -webkit-text-decoration-color: #bfa372 ;
          text-decoration-color: #bfa372 ;
}
.cont .contacts .contacts-form .form-mail a p {
  color: #bfa372;
  display: inline-block;
}
.cont .contacts .contacts-form .form-proj {
  font-family: 'TTNorms-Regular', sans-serif;
}
.cont .contacts .contacts-form .form-proj span {
  font-size: 32px;
}
.cont .contacts .contacts-footer {
  padding-top: 4.45rem;
}
.cont .contacts .contacts-footer .black {
  background-color: black;
  background: rgba(0, 0, 0, 0.01);
}
.cont .contacts .contacts-footer .footer-year {
  color: #000;
}
.cont .contacts .contacts-footer .footer-be {
  text-align: center;
}
.cont .contacts .contacts-footer .footer-be a {
  color: #000;
  text-decoration: none;
}
.cont .contacts .contacts-footer .footer-mail {
  text-align: right;
}
.cont .contacts .contacts-footer .footer-mail a {
  color: #bfa372;
  text-decoration: none;
}
.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #181717;
  top: 0;
  left: 0;
  visibility: hidden;
  overflow-y: auto ;
  overflow-x: hidden;
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  -webkit-transform: translate(0px, -100%);
          transform: translate(0px, -100%);
  opacity: 0;
}
.popup a {
  text-decoration: none;
}
.popup:target {
  opacity: 1;
  visibility: visible;
}
.popup:target {
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  opacity: 1;
}
.popup-body {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.popup-content {
  color: #fff;
  width: 100%;
  height: 100vh;
}
.popup-content .main-header {
  position: top;
  text-decoration: none;
}
.popup-content .main-header .header-left {
  display: inline-block;
  padding-left: 18px;
  padding-top: 11px;
}
.popup-content .main-header .header-left a span {
  font-family: 'TTNorms-Regular', sans-serif;
  color: #fff;
  text-decoration: none;
  display: inline-block;
  font-weight: 600;
  font-size: 38px;
}
.popup-content .main-header .header-left a .first:hover::after {
  content: '';
  border: 1px solid #bfa372;
  display: inline-block;
  rotate: 90deg;
  width: 95px;
  margin: 0px 8px 13px 8px;
  background-color: #bfa372;
  -webkit-animation: fadeInLeft 0.5s ;
          animation: fadeInLeft 0.5s ;
}
.popup-content .main-header .header-left a .second:after {
  content: '.';
  color: #bfa372;
  font-size: 2.5rem;
}
.popup-content .main-header .header-left .eng {
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  margin-left: 111px;
  font-family: 'TTNorms-Regular', sans-serif;
}
.popup-content .main-header .header-nav {
  display: inline-block;
  padding-top: 26px;
}
.popup-content .main-header .header-nav ul {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.popup-content .main-header .header-nav ul li {
  width: 128px;
  display: inline-block;
  padding: 0px 10px;
  text-align: center;
  font-size: 1.7rem	;
}
.popup-content .main-header .header-nav ul li a {
  cursor: pointer;
  color: #fff;
  text-decoration: none;
  font-family: 'TTNorms-Regular', sans-serif;
}
.popup-content .main-header .header-form {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 100%;
  height: 90px;
  background: #1d1c1c;
  border: none;
}
.popup-content .main-header .header-form a {
  color: #fff;
}
.popup-content .main-header .header-form .form-open {
  padding-top: 32px;
  padding-left: 80px ;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}
.popup-content .main-header .header-form .form-open span {
  font-family: 'TTNorms-Regular', sans-serif;
  display: inline-block;
  color: #fff;
  letter-spacing: .38em;
  font-size: 14px;
  font-weight: 600;
  -webkit-transition-duration: 1000ms;
          transition-duration: 1000ms;
}
.popup-content .main-header .header-form .form-open span img:hover {
  color: #fff;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.popup-content .popup-number .number-now span {
  display: block;
  font-size: 100px;
  line-height: 118px;
  text-transform: uppercase;
  font-weight: 500;
  color: transparent;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: #f2f2f2;
  text-align: left;
  padding-left: 4rem;
}
.popup-content .popup-number .number-now span::after {
  content: '';
  display: inline-block;
  border: 2px solid #fff;
  background-color: #fff;
  top: 0;
  left: 0;
  width: 80px;
  -webkit-transform: translateX(20px) translateY(-30px);
          transform: translateX(20px) translateY(-30px);
}
.popup-content .popup-number .number-lleft span {
  text-align: center;
  display: block;
  -webkit-transform: rotate(-90deg) translateX(10%) translateY(300px);
  transform: rotate(-90deg) translateX(10%) translateY(300px);
  font-size: 16px;
  line-height: 19px;
  color: #bfa372;
}
.popup-content .popup-number .next {
  text-align: right;
}
.popup-content .popup-number .next span {
  padding-right: 5rem;
  padding-top: 3rem;
  display: block;
  font-size: 18px;
  line-height: 1.5;
  font-weight: 700;
  letter-spacing: .535em;
  color: #bfa372;
  margin-right: -10px;
  padding-bottom: 26px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.popup-content .popup-number .next span::before {
  content: '';
  top: 0;
  left: 0;
  width: 80px;
  display: inline-block;
  border: 1px solid #bfa372;
  -webkit-transform: translateX(80px) translateY(15px);
          transform: translateX(80px) translateY(15px);
}
.popup-title {
  display: block;
  font-size: 10px;
  line-height: 15px;
  letter-spacing: .8em;
  text-transform: uppercase;
  color: #fff;
  padding-bottom: 31px;
  position: relative;
  margin-bottom: 92px;
}
.popup-text .tell {
  color: #fff;
  font-size: 75px;
  line-height: 89px;
  font-weight: 700;
  position: relative;
  z-index: 5;
}
.popup-text span {
  display: block;
  font-size: 25px;
  line-height: 28px;
  letter-spacing: .7em;
  color: #bfa372;
  font-weight: 400;
  margin-bottom: 3rem;
}
.popup-text .about {
  display: block;
  color: #fff;
  font-weight: 400;
  font-size: 55px;
  line-height: 65px;
  margin-bottom: 20px;
}
.popup-text .our {
  display: block;
  margin-left: 60px;
  color: #fff;
  font-size: 15px;
  line-height: 1.7;
  padding-right: 40px;
}
.popup-form {
  text-align: center;
  padding-top: 10rem;
}
.popup-form .inp {
  display: block;
  width: 100%;
  background: 0 0;
  border: 0;
  border-bottom: 2px solid #707070;
  padding-left: 30px;
  padding-right: 20px;
  font-size: 20px;
  padding-top: 35px;
  margin-bottom: 1rem;
  border-radius: 10px;
  color: #fff;
  padding: 20px;
}
.popup-form .inp:hover {
  -webkit-box-shadow: inset 0 0 0 2px #bfa372;
          box-shadow: inset 0 0 0 2px #bfa372;
}
.popup-form label {
  display: inline-block;
  position: absolute;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  background-color: #181717;
}
.popup-two .popup-content .popup-number .number-now span {
  text-align: left;
}
.popup-two .popup-content .popup-number .number-now span::after {
  width: 160px;
}
.popup-two .popup-form .on-click {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 183px;
  position: relative;
  color: #fff;
  font-size: 41px;
  line-height: 4rem;
  cursor: pointer;
  overflow: hidden;
}
.popup-two .popup-form .on-click::before {
  position: absolute;
  content: "";
  left: 0;
  top: 40px;
  width: 100px;
  height: 3px;
  background: #fff;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.onclick-animate {
  -webkit-transition-property: margin-left;
  transition-property: margin-left;
  -webkit-transition-duration: 9s;
          transition-duration: 9s;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  color: #000;
}
.popup-three .popup-content .popup-form {
  margin-top: 3rem;
}
.popup-three .popup-content .popup-form .slider .price {
  padding-bottom: 5rem;
}
.popup-three .popup-content .popup-form .slider .price p span {
  left: 0px;
  top: 0px;
  padding-right: 2.5rem;
  font-size: 1.6rem;
  display: inline-block;
  -webkit-transform: translateY(-60px);
          transform: translateY(-60px);
}
.popup-three .popup-content .popup-form .slider .price p span::before {
  content: 'руб';
  display: inline-block;
  top: 0;
  left: 0;
  -webkit-transform: translateX(60px) translateY(60px);
          transform: translateX(60px) translateY(60px);
}
.popup-three .popup-content .popup-form .slider .price .text {
  text-align: left;
  margin-bottom: -5px;
  font-size: 0.7rem;
}
.popup-three .popup-content .popup-form .slider .price h3 {
  text-align: left;
  font-size: 1.2rem;
}
.popup-three .popup-content .popup-form .slider .price input[type=range] {
  position: relative;
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.popup-three .popup-content .popup-form .slider .price input[type=range]::-webkit-slider-runnable-track {
  border-radius: 5px;
  height: 2px;
  background-color: #bfa372;
}
.popup-three .popup-content .popup-form .slider .price input[type=range]::-webkit-slider-thumb {
  background: #bfa372;
  border-radius: 10px;
  border: 3px solid rgba(0, 0, 0, 0.9);
  cursor: pointer;
  width: 17px;
  height: 17px;
  -webkit-appearance: none;
  margin-top: -7px;
}
.popup-three .popup-content .popup-form .slider .price input[type=range]::-moz-range-track {
  border-radius: 0.1px;
  height: 2px;
  background-color: #bfa372;
}
.popup-three .popup-content .popup-form .slider .price input[type=range]::-moz-range-thumb {
  background: #bfa372;
  border-radius: 0.1px;
  cursor: pointer;
}
.popup-three .popup-content .popup-form .slider .days p span {
  visibility: visible;
  display: inline-block;
  left: 0px;
  top: 0px;
  padding-right: 3.6rem;
  font-size: 1.6rem;
  -webkit-transform: translateY(-60px);
          transform: translateY(-60px);
}
.popup-three .popup-content .popup-form .slider .days p span::before {
  content: 'дней';
  display: inline-block;
  top: 0;
  left: 0;
  -webkit-transform: translateX(45px) translateY(60px);
          transform: translateX(45px) translateY(60px);
}
.popup-three .popup-content .popup-form .slider .days .text {
  text-align: left;
  margin-bottom: -5px;
  font-size: 0.7rem;
}
.popup-three .popup-content .popup-form .slider .days h3 {
  text-align: left;
  font-size: 1.2rem;
}
.popup-three .popup-content .popup-form .slider .days input[type=range] {
  position: relative;
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.popup-three .popup-content .popup-form .slider .days input[type=range]::-webkit-slider-runnable-track {
  border-radius: 5px;
  height: 2px;
  background-color: #bfa372;
}
.popup-three .popup-content .popup-form .slider .days input[type=range]::-webkit-slider-thumb {
  background: #bfa372;
  border-radius: 10px;
  border: 3px solid rgba(0, 0, 0, 0.9);
  cursor: pointer;
  width: 17px;
  height: 17px;
  -webkit-appearance: none;
  margin-top: -7px;
}
.popup-three .popup-content .popup-form .slider .days input[type=range]::-moz-range-track {
  border-radius: 0.1px;
  height: 2px;
  background-color: #bfa372;
}
.popup-three .popup-content .popup-form .slider .days input[type=range]::-moz-range-thumb {
  background: #bfa372;
  border-radius: 0.1px;
  cursor: pointer;
}
.popup-three .popup-content .popup-number .number-now span {
  text-align: left;
}
.popup-three .popup-content .popup-number .number-now span::after {
  width: 240px;
}
.popup-four .popup-content .popup-form p {
  color: #bfa372;
}
.popup-four .popup-content .popup-form .descrip {
  width: 100%;
  height: 100%;
  background-color: #181717;
  color: #fff;
}
.popup-four .popup-content .popup-number .number-now span {
  text-align: left;
}
.popup-four .popup-content .popup-number .number-now span::after {
  width: 320px;
}
.popup-five .popup-content .popup-form p {
  color: #bfa372;
}
.popup-five .popup-content .popup-form .descrip {
  width: 100%;
  height: 100%;
  background-color: #181717;
  color: #fff;
}
.popup-five .popup-content .popup-number .number-now span {
  text-align: left;
}
.popup-five .popup-content .popup-number .number-now span::after {
  width: 400px;
}
.popup-last .popup-body {
  width: 100%;
  height: 100vh;
}
@media (min-width: 1920px) and (max-width: 2751px) {
  .page-wrap {
    min-height: 100%;
    position: relative;
    min-width: 320px;
    height: 100%;
  }
  .page-wrap .bg-dark {
    min-height: 100%;
    position: relative;
  }
  .page-wrap .bg-dark main {
    height: 100%;
  }
  .page-wrap .bg-dark main .header {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 100;
  }
  .page-wrap .bg-dark main .header-main {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    width: 100%;
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
            justify-content: space-between;
    height: 90px;
  }
  .page-wrap .bg-dark main .header-main .header-left {
    display: inline-block;
    padding: 15px 0 0 56px;
  }
  .page-wrap .bg-dark main .header-main .header-left .header-logo {
    text-decoration: none;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
    position: relative;
    z-index: 15;
  }
  .page-wrap .bg-dark main .header-main .header-left .header-logo span {
    display: inline-block;
    color: #fff;
    font-weight: 500;
    font-size: 48px;
    line-height: 66px;
  }
  .page-wrap .bg-dark main .header-main .header-left .header-logo hr {
    display: inline-block;
    margin: 0 20px;
    height: 4px;
    width: 120px;
    position: relative;
    overflow: hidden;
    opacity: 1;
    background-color: transparent;
  }
  .page-wrap .bg-dark main .header-main .header-left .header-logo hr::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0px;
    background-color: #bfa372;
  }
  .page-wrap .bg-dark main .header-main .header-left .header-logo span:last-child {
    letter-spacing: -0.21em;
  }
  .page-wrap .bg-dark main .header-main .header-left .header-logo span:last-child:after {
    content: ".";
    color: #bfa372;
    display: inline-block;
    left: 10px;
  }
  .page-wrap .bg-dark main .header-main .header-left .header-lang {
    display: inline-block;
    margin-left: 60px;
    margin-bottom: 20px;
    color: #fff;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    z-index: 15;
    text-decoration: none;
    -webkit-transform: translateX(20px) translateY(-28px);
            transform: translateX(20px) translateY(-28px);
  }
  .page-wrap .bg-dark main .header-main .header-nav {
    display: inline-block;
    width: 52%;
    margin-left: 40px;
    padding-top: 40px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  .page-wrap .bg-dark main .header-main .header-nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 100%;
  }
  .page-wrap .bg-dark main .header-main .header-nav ul li {
    display: inline-block;
    width: 25%;
    padding: 0 10px;
    text-align: right;
  }
  .page-wrap .bg-dark main .header-main .header-nav ul li a {
    position: relative;
    text-decoration: none;
    display: block;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    font-size: 17px;
    line-height: 26px;
    color: #fff;
  }
  .page-wrap .bg-dark main .header-main .header-nav ul li a sup {
    color: #bfa372;
  }
  .page-wrap .bg-dark main .header-main .header-nav ul li .present {
    width: 250px;
  }
  .page-wrap .bg-dark main .header-main .header-nav ul li .present::before {
    content: '';
    top: 0;
    left: 0;
    display: inline-block;
    border: 1px solid #bfa372;
    color: #bfa372;
    width: 80px;
    -webkit-transform: translateX(-50px) translateY(14px);
            transform: translateX(-50px) translateY(14px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: absolute;
  }
  .page-wrap .bg-dark main .header-main .header-nav ul li .present::after {
    content: '>';
    top: 0;
    left: 0;
    color: #bfa372;
    display: inline-block;
    -webkit-transform: translateX(25px) translateY(0px);
            transform: translateX(25px) translateY(0px);
    position: absolute;
  }
  .page-wrap .bg-dark main .header-main .header-application {
    border: 0;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    height: 100%;
    width: 290px;
    background: #1d1c1c;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    position: relative;
    z-index: 115;
    cursor: pointer;
  }
  .page-wrap .bg-dark main .header-main .header-application span {
    font-size: 13px;
    line-height: 21px;
    font-weight: 500;
    letter-spacing: .38em;
    color: #bfa372;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  .page-wrap .bg-dark main .header-main .header-application .header-aplication-open {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
    padding: 0px 40px;
    -ms-flex-align: center;
    -webkit-box-align: center;
            align-items: center;
    -ms-flex-pack: end;
    -webkit-box-pack: end;
            justify-content: flex-end;
  }
  .page-wrap .bg-dark main .header-main .header-application .header-aplication-open .zayava {
    display: inline-block;
  }
  .page-wrap .bg-dark main .header-main .header-application .header-aplication-open .proj {
    display: block;
    padding-top: 0px;
    padding-bottom: 0;
    padding-left: 10px;
    color: #fff;
  }
  .page-wrap .bg-dark main .header-main .header-application .header-aplication-open .proj::before {
    position: absolute;
    content: "";
    left: 174px;
    right: 0px;
    bottom: 30px;
    width: 50px;
    border-bottom: 1.5px solid #fff;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  .page-wrap .bg-dark main .header-main .header-application .header-aplication-open .proj::after {
    position: absolute;
    content: "+";
    left: 232px;
    right: 0px;
    bottom: 22px;
    width: 0px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  .page-wrap .bg-dark main .header-buro {
    position: absolute;
    left: 62px;
    top: 150px;
    width: 14px;
    height: 215px;
    z-index: 15;
  }
  .page-wrap .bg-dark main .header-buro span {
    display: block;
    -webkit-transform: rotate(-90deg) translateX(-150px);
            transform: rotate(-90deg) translateX(-150px);
    white-space: nowrap;
    color: #fff;
    font-size: 9px;
    line-height: 14px;
    letter-spacing: .1em;
    text-transform: uppercase;
    text-align: right;
  }
  .page-wrap .bg-dark main .banner {
    display: block;
    height: 100vh;
    background: #181717;
    background: #0b0b0c;
    position: relative;
    overflow: hidden;
    z-index: 50;
  }
  .page-wrap .bg-dark main .banner .video-bg {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    z-index: 0;
    opacity: 1!important;
  }
  .page-wrap .bg-dark main .banner .video-bg .video-index-bg {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    background: url(../img/texture__video_index.svg) no-repeat 50% 50%;
    background-size: cover;
  }
  .page-wrap .bg-dark main .banner .video-bg video {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 3880px;
    height: 2300px;
    min-width: 100vw;
    min-height: 100vh;
    opacity: .15;
  }
  .page-wrap .bg-dark main .banner .banner-img {
    background: url(../img/img--index-banner_statue-2550.png) center no-repeat;
    background-size: 100vh;
    height: 100%;
  }
  .page-wrap .bg-dark main .banner .banner-img .banner-text {
    height: 100%;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    z-index: 10;
    padding-top: 40px;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .page-wrap .bg-dark main .banner .banner-img .banner-text span {
    display: inline;
    font-weight: 700;
    font-size: 185px;
    line-height: 1;
    text-transform: uppercase;
  }
  .page-wrap .bg-dark main .banner .banner-img .banner-text .text-1 {
    visibility: visible;
    -webkit-animation-delay: 2s;
            animation-delay: 2s;
    -webkit-animation-name: fadeInLeft;
            animation-name: fadeInLeft;
    margin-left: -1030px;
  }
  .page-wrap .bg-dark main .banner .banner-img .banner-text .text-1 .line {
    color: transparent;
    -webkit-text-stroke-width: 2.75px;
    -webkit-text-stroke-color: #363636;
  }
  .page-wrap .bg-dark main .banner .banner-img .banner-text .text-1 .white {
    color: #fff;
  }
  .page-wrap .bg-dark main .banner .banner-img .banner-text .text-1 .gold {
    color: #bfa372;
  }
  .page-wrap .bg-dark main .banner .banner-img .banner-text .text-2 {
    visibility: visible;
    -webkit-animation-delay: 2.5s;
            animation-delay: 2.5s;
    -webkit-animation-name: fadeInRight;
            animation-name: fadeInRight;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-left: 1363px;
  }
  .page-wrap .bg-dark main .banner .banner-img .banner-text .text-2 .line {
    color: transparent;
    -webkit-text-stroke-width: 2.75px;
    -webkit-text-stroke-color: #363636;
  }
  .page-wrap .bg-dark main .banner .banner-img .banner-text .text-2 .white {
    color: #fff;
  }
  .page-wrap .bg-dark main .banner .banner-img .banner-text .text-2 .gold {
    color: #bfa372;
  }
  .page-wrap .bg-dark main .banner .banner-img .banner-text .text-3 {
    visibility: visible;
    -webkit-animation-delay: 3s;
            animation-delay: 3s;
    -webkit-animation-name: fadeInLeft;
            animation-name: fadeInLeft;
    margin-left: -502px;
  }
  .page-wrap .bg-dark main .banner .banner-img .banner-text .text-3 .line {
    color: transparent;
    -webkit-text-stroke-width: 2.75px;
    -webkit-text-stroke-color: #363636;
  }
  .page-wrap .bg-dark main .banner .banner-img .banner-text .text-3 .white {
    color: #fff;
  }
  .page-wrap .bg-dark main .banner .banner-img .banner-text .text-3 .gold {
    color: #bfa372;
  }
  .page-wrap .bg-dark main .banner .banner-img .banner-text .banner-images {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 5;
  }
  .page-wrap .bg-dark main .banner .banner-img .banner-text .banner-images img {
    position: absolute;
    visibility: visible;
    -webkit-animation-name: fadeIn;
            animation-name: fadeIn;
  }
  .page-wrap .bg-dark main .banner .banner-img .banner-text .banner-images .banner-light-yellow {
    width: 153px;
    left: 33%;
    margin-left: 698px;
    bottom: 120px;
  }
  .page-wrap .bg-dark main .banner .banner-img .banner-text .banner-images .banner-star {
    width: 75px;
    left: 46%;
    top: 46%;
    margin-left: -15px;
    margin-top: 232px;
  }
  .page-wrap .bg-dark main .banner .banner-img .banner-text .banner-images .banner-hand {
    width: 78px;
    left: 46%;
    top: 52%;
    margin-left: 18px;
    margin-top: -225px;
  }
  .page-wrap .bg-dark main .banner .banner-img .banner-text .banner-images .banner-light-gray {
    width: 100px;
    left: 60%;
    margin-left: -830px;
    top: 160px;
  }
  .page-wrap .bg-dark main .footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100px;
    padding: 0px 40px 10px 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    z-index: 50;
  }
  .page-wrap .bg-dark main .footer .footer-left {
    display: inline-block;
    padding-left: 23px;
    padding-top: 23px;
  }
  .page-wrap .bg-dark main .footer .footer-left .footer-year {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 0px;
  }
  .page-wrap .bg-dark main .footer .footer-left .footer-year span {
    display: inline-block;
    font-size: 17px;
    line-height: 28px;
    margin-right: 10px;
    color: #fff;
  }
  .page-wrap .bg-dark main .footer .footer-left .footer-year span.gold {
    color: #bfa372;
  }
  .page-wrap .bg-dark main .footer .footer-left .footer-copyright {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .page-wrap .bg-dark main .footer .footer-left .footer-copyright span {
    display: inline-block;
    color: #fff;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
  }
  .page-wrap .bg-dark main .footer .footer-social {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transform: translate(-38px, 10px);
            transform: translate(-38px, 10px);
  }
  .page-wrap .bg-dark main .footer .footer-social li {
    display: inline-block;
    margin: 0 50px;
  }
  .page-wrap .bg-dark main .footer .footer-social li a {
    cursor: pointer;
  }
  .page-wrap .bg-dark main .footer .footer-social li a svg {
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    fill: #fff;
    width: 20px;
    height: 20px;
  }
  .page-wrap .bg-dark main .footer .footer-mail {
    display: inline-block;
    margin-bottom: 17px;
    font-size: 16px;
    line-height: 21px;
    color: #bfa372;
    position: relative;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    margin-right: 24px;
    text-decoration: none;
  }
  .page-wrap .bg-dark main .footer .footer-mail::before {
    position: absolute;
    content: "";
    width: 113px;
    height: 2px;
    background: #bfa372;
    left: -130px;
    bottom: 4px;
  }
}
