@font-face
{
	font-display: swap;
	font-family: "TTTsarsA";
	font-style: normal;
	src: url(../fonts/TTTsarsA-Black.woff) format("woff"),url(../fonts/fonts/TTTsarsA-Black.woff) format("woff2");
}
@font-face
{
	font-display: swap;
	font-family: "TTSquaresCondensed";
	font-style: normal;
	src: url(../fonts/TTSquaresCondensed-Black.woff) format("woff"),url(../fonts/fonts/TTSquaresCondensed-Black.woff) format("woff2");
}
@font-face
{
	font-display: swap;
	font-family: "Gordita";
	font-style: normal;
	src: url(../fonts/Gordita-Regular.woff) format("woff"),url(../fonts/fonts/Gordita-Regular.woff) format("woff2");
}
@font-face
{
	font-display: swap;
	font-family: "BLACKHAWK";
	font-style: normal;
	src: url(../fonts/BLACKHAWK.woff) format("woff"),url(../fonts/fonts/BLACKHAWK.woff) format("woff2");
}
@font-face
{
	font-display: swap;
	font-family: "BLACKHAWK";
	font-style: italic;
	src: url(../fonts/BLACKHAWK-Italic.woff) format("woff"),url(../fonts/fonts/BLACKHAWK-Italic.woff) format("woff2");
}
@font-face
{
	font-display: swap;
	font-family: "BLACKHAWKSwash";
	font-style: italic;
	src: url(../fonts/BLACKHAWK-Swash.woff) format("woff"),url(../fonts/fonts/BLACKHAWK-Swash.woff) format("woff2");
}
@font-face
{
	font-display: swap;
	font-family: "TTNorms-Regular";
	font-style: normal;
	src: url(../fonts/TTNorms-Regular.woff) format("woff"),url(../fonts/fonts/TTNorms-Regular.woff) format("woff2");
}
@font-face
{
	font-display: swap;
	font-family: "TTNorms-Medium";
	font-style: normal;
	src: url(../fonts/TTNorms-Medium.woff) format("woff"),url(../fonts/fonts/TTNorms-Medium.woff) format("woff2");
}
@font-face
{
	font-display: swap;
	font-family: "TTNorms-Light";
	font-style: normal;
	src: url(../fonts/TTNorms-Light.woff) format("woff"),url(../fonts/fonts/TTNorms-Light.woff) format("woff2");
}
@font-face
{
	font-display: swap;
	font-family: "TTNorms-Bold";
	font-style: normal;
	src: url(../fonts/TTNorms-Bold.woff) format("woff"),url(../fonts/fonts/TTNorms-Bold.woff) format("woff2");
}
@font-face
{
	font-display: swap;
	font-family: "TTNorms-ExtraBold";
	font-style: normal;
	src: url(../fonts/TTNorms-ExtraBold.woff) format("woff"),url(../fonts/fonts/TTNorms-ExtraBold.woff) format("woff2");
}
@font-face
{
	font-display: swap;
	font-family: "TTNorms-Black";
	font-style: normal;
	src: url(../fonts/TTNorms-Black.woff) format("woff"),url(../fonts/fonts/TTNorms-Black.woff) format("woff2");
}


body{
	margin: 0;
	padding: 0;
}
.bg-dark {
	background: #0d0d0d;
}
ul{
	list-style: none;
	font-size: 0;
	line-height: 0;
	letter-spacing: -1px;
}
a{
	text-decoration: none;
}
@keyframes bg {
	0%{
		background-position: 50% -10000%;
	}
	25%{
		background-position: 50% -7500%;
	}
	50%{
		background-position: 50% -5000%;
	}
	75%{
		background-position: 50% -2500%;
	}
	100%{
		background-position: 50% 0%;
	}

}
.page-wrap{
	min-height: 100%;
	position: relative;
	min-width: 320px;
	height: 100%;
	.bg-dark{
		min-height: 100%;
		position: relative;
		main{
			height: 100%;
			.header{
				position: fixed;
				left: 0;
				top: 0;
				right: 0;
				z-index: 100;
				&-main{
					display: -ms-flexbox;
					display: flex;
					width: 100%;
					-ms-flex-pack: justify;
					justify-content: space-between;
					height: 113px;
					.header-left{
						display: inline-block;
						padding: 22px 0 0 63px;
						.header-logo{
							text-decoration: none;
							display: inline-flex;
							align-items: center;
							align-content: center;
							position: relative;
							z-index: 15;
							span{
								display: inline-block;
								color: #fff;
								font-weight: 500;
								font-size: 56px;
								line-height: 66px;
							}
							hr{
								display: inline-block;
								margin: 0 20px;
								height: 4px;
								width: 150px;
								position: relative;
								overflow: hidden;
								opacity: 1;
								background-color: transparent;
							}
							hr::before{
								position: absolute;
								content: "";
								width: 100%;
								height: 100%;
								top: 0px;
								background-color: #bfa372;
							}
							span:last-child {
								letter-spacing: -.21em;
							}
							span:last-child:after {
								content: ".";
								color: #bfa372;
								display: inline-block;
								left: 10px;
							}
						}
						.header-lang{
							display: inline-block;
							margin-left: 48px;
							margin-top: 31px;
							color: #fff;
							font-weight: 500;
							font-size: 18px;
							line-height: 21px;
							transition: all .2s ease-in-out;
							position: relative;
							z-index: 15;
							text-decoration: none;


						}
					}
					.header-nav{
						display: inline-block;
						width: 52%;
						margin-left: 135px;
						padding-top: 46px;
						transition: all .2s ease-in-out;
						ul{
							display: flex;
							justify-content: space-between;
							height: 100%;
							li{
								display: inline-block;
								width: 25%;
								padding: 0 10px;
								text-align: right;
								a{
									text-decoration: none;
									display: block;
									transition: all .2s ease-in-out;
									font-size: 22px;
									line-height: 26px;
									color: #fff;
								}
							}
						}
					}
					.header-application{
						border: 0;
						cursor: pointer;
						display: inline-flex;
						height: 100%;
						width: 390px;
						background: #1d1c1c;
						transition: all .2s ease-in-out;
						position: relative;
						z-index: 115;
						cursor: pointer;
						span{
							font-size: 18px;
							line-height: 21px;
							font-weight: 500;
							letter-spacing: .38em;
							color: #bfa372;
							transition: all .2s ease-in-out;
						}
						.header-aplication-open{
							display: flex;
							width: 100%;
							height: 100%;
							padding-right: 75px;
							-ms-flex-align: center;
							align-items: center;
							-ms-flex-pack: end;
							justify-content: flex-end;

							.zayava{
								display: inline-block;

							}
							.proj{
								display: block;
								padding-top:0px;
								padding-bottom: 0;
								padding-left: 10px;
								color: #fff;
								
							}
							.proj::before {
								position: absolute;
								content: "";
								left: 208px;
								right: 0px;
								bottom: 30px;
								width: 70px;
								border-bottom: 1.5px solid #fff;
								transition: all .2s ease-in-out;
							}
							.proj::after {
								position: absolute;
								content: "+";
								left: 290px;
								right: 0px;
								bottom: 22px;
								width: 0px;
								transition: all .2s ease-in-out;
							}
						}
					}
				}
				&-buro{
					position: absolute;
					left: 62px;
					top: 150px;
					width: 14px;
					height: 215px;
					z-index: 15;
					span{
						display: block;
						transform: rotate(-90deg) translateX(-150px);
						white-space: nowrap;
						color: #fff;
						font-size: 12px;
						line-height: 14px;
						letter-spacing: .1em;
						text-transform: uppercase;
						text-align: right;
					}
				}
			}
			.banner{
				display: block;
				height: 100vh;
				background: #181717;
				background: #0b0b0c;
				position: relative;
				overflow: hidden;
				z-index: 50;
				.video-bg{
					position: absolute;
					left: 0;
					top: 0;
					right: 0;
					bottom: 0;
					overflow: hidden;
					display: flex;
					align-items: center;
					align-content: center;
					justify-content: center;
					z-index: 0;
					opacity: 1!important;
					.video-index-bg{
						position: absolute;
						left: 0;
						top: 0;
						right: 0;
						bottom: 0;
						z-index: 10;
						background: url(../img/texture__video_index.svg) no-repeat 50% 50%;
						background-size: cover;
					}
					video{
						position: absolute;
						left: 50%;
						top: 50%;
						-webkit-transform: translate(-50%,-50%);
						transform: translate(-50%,-50%);
						width: 3880px;
						height: 2300px;
						min-width: 100vw;
						min-height: 100vh;
						opacity: .15;
					}
				}
				.banner-img{
					background: url(../img/img--index-banner_statue-2550.png) center no-repeat;
					background-size: 100vh;
					height: 100%;
				.banner-text{
					height: 100%;
					display: flex;
					flex-direction: column;
					align-items: center;
					align-content: center;
					justify-content: center;
					position: relative;
					display: flex;
					flex-direction: column;
					align-items: center;
					align-content: center;
					justify-content: center;
					z-index: 10;
					padding-top: 72px;
					flex-wrap: nowrap;
					span{
						display: inline;
						font-weight: 700;
						font-size: 268px;
						line-height: 1;
						text-transform: uppercase;
					}
					.text-1{
						visibility: visible;
						animation-delay: 2s;
						animation-name: fadeInLeft;
						margin-left: -1430px;
						.line{
							color: transparent;
							-webkit-text-stroke-width: 2.75px;
							-webkit-text-stroke-color: #363636;
						}
						.white{
							color: #fff;
						}
						.gold{
							color: #bfa372;
						}
					}
					.text-2{
						visibility: visible;
						animation-delay: 2.5s;
						animation-name: fadeInRight;
						display: flex;
						justify-content: space-between;
						margin-left: 1363px;
						.line{
							color: transparent;
							-webkit-text-stroke-width: 2.75px;
							-webkit-text-stroke-color: #363636;
						}
						.white{
							color: #fff;
						}
						.gold{
							color: #bfa372;
						}
					}
					.text-3{
						visibility: visible;
						animation-delay: 3s;
						animation-name: fadeInLeft;
						margin-left: -502px;
						.line{
							color: transparent;
							-webkit-text-stroke-width: 2.75px;
							-webkit-text-stroke-color: #363636;
						}
						.white{
							color: #fff;
						}
						.gold{
							color: #bfa372;
						}
					}
					.banner-images{
						position: absolute;
						left: 0;
						top: 0;
						right: 0;
						bottom: 0;
						z-index: 5;
						img{
							position: absolute;
							visibility: visible;
							animation-name: fadeIn;
						}
						.banner-light-yellow{
							width: 153px;
							left: 50%;
							margin-left: 698px;
							bottom: 200px;
						}
						.banner-star{
							width: 75px;
							left: 50%;
							top: 50%;
							margin-left: -30px;
							margin-top: 262px;
						}
						.banner-hand{
							width: 78px;
							left: 48%;
							top: 50%;
							margin-left: 14px;
							margin-top: -286px;
						}
						.banner-light-gray{
							width: 100px;
							left: 50%;
							margin-left: -830px;
							top: 252px;
						}
					}
				}
				}
			}
			.footer{
				position: absolute;
				left: 0;
				right: 0;
				bottom: 0;
				height: 138px;
				padding: 20px 40px 0;
				display: flex;
				align-items: center;
				justify-content: space-between;
				z-index: 50;
				.footer-left{
					display: inline-block;
					padding-left: 23px;
					padding-top: 23px;
					.footer-year{
						display: flex;
						align-items: center;
						margin-bottom: 15px;
						span{
							display: inline-block;
							font-size: 24px;
							line-height: 28px;
							margin-right: 10px;
							color: #fff;
						}
						span.gold{
							color: #bfa372;
						}

					}
					.footer-copyright{
						display: inline-flex;
						align-items: center;
						span{
							display: inline-block;
							color: #fff;
							font-size: 19px;
							line-height: 20px;
							font-weight: 400;
						}
					}
				}
				.footer-social{
					display: inline-flex;
					align-items: center;
					transform: translate(-38px,10px);
					li{
						display: inline-block;
						margin: 0 50px;
						a{
							cursor: pointer;
							svg{
								transition: all .2s ease-in-out;
								fill: #fff;
								width: 26px;
								height: 26px;
							}
						}
					}
				}
				.footer-mail{
					display: inline-block;
					margin-bottom: 17px;
					font-size: 22px;
					line-height: 21px;
					color: #bfa372;
					position: relative;
					transition: all .2s ease-in-out;
					margin-right: 24px;
					text-decoration: none;
					&::before {
						position: absolute;
						content: "";
						width: 113px;
						height: 2px;
						background: #bfa372;
						left: -130px;
						bottom: 4px;
					}
					}
				}
			}
		}
	}

	.cont{
		.contacts{
			.main-contacts{
				.popup-link{
					text-decoration: none;
				}
				.container-fluid{
					.col-lg-3{
						padding: 0;
					}
					.col-lg-5{
						padding-right: 2rem;
					}
				}

				.header-left{
					display: inline-block;
					padding-left: 18px;
					padding-top: 11px;
					a{
						span{
							font-family: 'TTNorms-Regular',sans-serif;
							color: #000;
							text-decoration: none;
							display: inline-block;
							font-weight: 600;
							font-size: 38px;

						}

						.first{
							&:hover::after{
								content:'';
								border:1px solid #bfa372;
								display: inline-block;
								rotate:90deg;
								width: 95px;
								margin: 0px 8px 13px 8px;
								background-color:#bfa372;

								animation:fadeInLeft 0.5s ;	

							}

						}
						.second{
							&:after{
								content:'.';
								color:#bfa372;
								font-size:2.5rem;
							}
						}

					}
					.eng{
						text-decoration: none;
						font-size: 14px;
						font-weight: 600;
						color: #000;
						margin-left: 111px;
						font-family:'TTNorms-Regular',sans-serif;
					}
				}
				.header-nav{
					display: inline-block;
					padding-top: 26px;

					ul{
						padding: 0;
						margin: 0;
						display: flex;
						justify-content: space-between;
						li{
							width: 128px;
							display: inline-block;
							padding: 0px 10px;
							text-align: center;
							font-size: 1.7rem	;
							a{
								cursor: pointer;
								color: #000;
								text-decoration: none;
								font-family: 'TTNorms-Regular',sans-serif;
							}
						}
					}
				}
				.header-form{
					display: inline-flex;
					width: 100%;
					height: 100%;
					background: #1d1c1c;
					border:none;

					.form-open{
						padding-top: 32px;
						padding-left: 60px ;
						text-align: center;
						display: flex;
						width: 100%;

						span{
							font-family: 'TTNorms-Regular',sans-serif;
							display: inline-block;
							color: #bfa372;
							letter-spacing: .38em;
							font-size: 14px;
							font-weight: 550;

						}
						.psevdo{
							display: inline-block;
							.plus{
								display: inline-block;	
								color: #fff;	
								margin-left: 7px;
								&:after{
									content:'';
									display: inline-block;
									border:1px solid #fff;
									width: 50px;
									transform: translateX(-78px)translateY(12px);	
								}
								&:before{
									content:'+';
									display: inline-block;
									top: 0;
									left: 0;
									width: 100%;
								}
							}
						}

					}

				}
			}
			.contacts-form{
				.form-q{
					font-family: 'TTNorms-Regular',sans-serif;
					padding-top: 2rem;
					span{
						font-size: 46px;
						p{
							font-size: 30px;
						}
					}
				}
				.form-number{
					font-family: 'TTNorms-Regular',sans-serif;
					padding-top: 2rem;
					span{
						font-size: 26px;
						p{
							font-size: 147px;
						}
					}
				}
				.form-mail{
					font-family: 'TTNorms-Regular',sans-serif;
					padding-top: 1.5rem;
					a{
						color: #000;
						font-size: 35px;
						display: inline-block;
						text-decoration-color:#bfa372 ;
						p{
							color: #bfa372;
							display: inline-block;

						}
					}
				}
				.form-proj{
					font-family: 'TTNorms-Regular',sans-serif;
					span{
						font-size: 32px;
					}
				}
			}
			.contacts-footer{

				padding-top: 4.45rem;
				.black{
					background-color: black;
					background: rgba(0,0,0, 0.01);
				}
				.footer-year{
					color:#000;
				}
				.footer-be{
					a{
						color: #000;
						text-decoration: none;
					}
					text-align: center;

				}
				.footer-mail{	
					a{
						color:#bfa372;
						text-decoration: none;
					}
					text-align: right;
				}
			}
		}
	}
	.popup{
		position: fixed;
		width: 100%;
		height: 100%;
		background-color: rgba(24,23,23, 1);
		top: 0;
		left: 0;
		opacity: 0;
		visibility:hidden;
		overflow-y:auto ;
		overflow-x: hidden;
		transition:all 0.8s ease 0s;
		transform:translate(0px,-100%);
		opacity: 0;
		a{
			text-decoration: none;
		}

	}
	.popup:target{
		opacity: 1;
		visibility:visible;
	}
	.popup:target{
		transform:translate(0px, 0px);
		opacity: 1;
	}
	.popup-body{
		min-height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;

	}
	.popup-content{
		color: #fff;
		width: 100%;
		height: 100vh;
		.main-header{
			position: top;
			text-decoration: none;
			.header-left{
				display: inline-block;
				padding-left: 18px;
				padding-top: 11px;
				a{
					span{
						font-family: 'TTNorms-Regular',sans-serif;
						color: #fff;
						text-decoration: none;
						display: inline-block;
						font-weight: 600;
						font-size: 38px;

					}

					.first{
						&:hover::after{
							content:'';
							border:1px solid #bfa372;
							display: inline-block;
							rotate:90deg;
							width: 95px;
							margin: 0px 8px 13px 8px;
							background-color:#bfa372;

							animation:fadeInLeft 0.5s ;	

						}

					}
					.second{
						&:after{
							content:'.';
							color:#bfa372;
							font-size:2.5rem;
						}
					}

				}
				.eng{
					text-decoration: none;
					font-size: 14px;
					font-weight: 600;
					color: #fff;
					margin-left: 111px;
					font-family:'TTNorms-Regular',sans-serif;
				}
			}
			.header-nav{
				display: inline-block;
				padding-top: 26px;

				ul{
					padding: 0;
					margin: 0;
					display: flex;
					justify-content: space-between;
					li{
						width: 128px;
						display: inline-block;
						padding: 0px 10px;
						text-align: center;
						font-size: 1.7rem	;
						a{
							cursor: pointer;
							color: #fff;
							text-decoration: none;
							font-family: 'TTNorms-Regular',sans-serif;
						}
					}
				}
			}


			.header-form{
				display: inline-flex;
				width: 100%;
				height: 90px;
				background: #1d1c1c;
				border:none;
				a{
					color:#fff;
				}

				.form-open{
					padding-top: 32px;
					padding-left: 80px ;
					text-align: center;
					display: flex;
					width: 100%;

					span{
						font-family: 'TTNorms-Regular',sans-serif;
						display: inline-block;
						color: #fff;
						letter-spacing: .38em;
						font-size: 14px;
						font-weight: 600;
						transition-duration:1000ms;
						img:hover{
							color: #fff;
							transform: scale(1.2); 
						}


					}
				}

			}
		}
		.popup-number{
			.number-now{
				span{
					display: block;
					font-size: 100px;
					line-height: 118px;
					text-transform: uppercase;
					font-weight: 500;
					color: transparent;
					-webkit-text-stroke-width: 3px;
					-webkit-text-stroke-color: #f2f2f2;
					text-align: left;
					padding-left: 4rem;
					&::after{
						content:'';
						display: inline-block;
						border:2px solid #fff;
						background-color: #fff;
						top: 0;
						left: 0;
						width: 80px;
						transform:translateX(20px)translateY(-30px);
					}
				}
			}
			.number-lleft{
				span{
					text-align: center;
					display: block;
					-webkit-transform: rotate(-90deg) translateX(10%) translateY(300px);
					transform: rotate(-90deg) translateX(10%)translateY(300px);
					font-size: 16px;
					line-height: 19px;
					color: #bfa372;
				}

			}
			.next{
				text-align: right;
				span{
					padding-right: 5rem;
					padding-top: 3rem;
					display: block;
					font-size: 18px;
					line-height: 1.5;
					font-weight: 700;
					letter-spacing: .535em;
					color: #bfa372;
					margin-right: -10px;
					padding-bottom: 26px;
					transition: all .2s ease-in-out;
					&::before{
						content:'';
						top: 0;
						left: 0;
						width: 80px;
						display: inline-block;
						border:1px solid #bfa372;
						transform:translateX(80px)translateY(15px);
					}
				}
			}
		}

	}

	.popup-title{
		display: block;
		font-size: 10px;
		line-height: 15px;
		letter-spacing: .8em;
		text-transform: uppercase;
		color: #fff;
		padding-bottom: 31px;
		position: relative;
		margin-bottom: 92px;

	}
	.popup-text{
		.tell{
			color: #fff;
			font-size: 75px;
			line-height: 89px;
			font-weight: 700;
			position: relative;
			z-index: 5;
		}
		span{
			display: block;
			font-size: 25px;
			line-height: 28px;
			letter-spacing: .7em;
			color: #bfa372;
			font-weight: 400;
			margin-bottom: 3rem;
		}
		.about{
			display: block;
			color: #fff;
			font-weight: 400;
			font-size: 55px;
			line-height: 65px;
			margin-bottom: 20px;
		}
		.our{
			display: block;
			margin-left: 60px;
			color: #fff;
			font-size: 15px;
			line-height: 1.7;
			padding-right: 40px;
		}

	}
	.popup-form{
		text-align: center;
		padding-top: 10rem;
		.inp{
			display: block;
			width: 100%;
			background: 0 0;
			border: 0;
			border-bottom: 2px solid #707070;
			padding-left: 30px;
			padding-right: 20px;
			font-size: 20px;
			padding-top: 35px;
			margin-bottom: 1rem;
			border-radius:10px;
			color:#fff;
			padding: 20px;
			&:hover{
				box-shadow: inset 0 0 0 2px #bfa372;
			}
		}
		label{
			display: inline-block;
			position: absolute;
			transform:translateX(-50%)translateY(-50%);
			background-color: rgba(24,23,23, 1);

		}

	}
	.popup-two{
		.popup-content{
			.popup-number{
				.number-now{
					span{
						text-align: left;
						&::after{
							width: 160px;
						}
					}
				}

			}
		}
		.popup-form{
			.on-click{
				display: flex;
				padding-left: 183px;
				position: relative;
				color: #fff;
				font-size: 41px;
				line-height: 4rem;
				cursor: pointer;
				overflow: hidden;
				&::before {
					position: absolute;
					content: "";
					left: 0;
					top: 40px;
					width: 100px;
					height: 3px;
					background: #fff;
					transition: all .2s ease-in-out;
				}
			}
		}
	}
	.onclick-animate{
		transition-property: margin-left;
		transition-duration: 9s;
		transition-timing-function: linear;
		color:#000;
	}
	.popup-three{
		.popup-content{
			.popup-form{
				margin-top: 3rem;
				.slider{
					.price{
						padding-bottom: 5rem;
						p{
							span{
								left: 0px;
								top: 0px;
								padding-right:2.5rem;
								font-size: 1.6rem;
								display: inline-block;
								transform:translateY(-60px);
								&::before{
									content:'руб';
									display: inline-block;
									top: 0;
									left: 0;
									transform:translateX(60px)translateY(60px);
								}
							}
						}
						.text{
							text-align: left;
							margin-bottom: -5px;
							font-size: 0.7rem;

						}
						h3{
							text-align: left;
							font-size: 1.2rem;
						}

						input[type=range]  {
							position: relative;
							width: 100%;
							-webkit-appearance: none;
							-moz-appearance: none;
							appearance: none;
						}
						input[type=range]::-webkit-slider-runnable-track {
							border-radius: 5px;
							height: 2px;
							background-color: #bfa372;
						}
						input[type=range]::-webkit-slider-thumb {
							background: #bfa372;
							border-radius: 10px;
							border:3px solid rgba(0, 0, 0, 0.9); 
							cursor: pointer;
							width:17px;
							height: 17px;
							-webkit-appearance: none;
							margin-top: -7px;
						}

						input[type=range]::-moz-range-track {
							border-radius: 10px/100%;
							height: 2px;
							background-color: #bfa372;
						}
						input[type=range]::-moz-range-thumb {
							background: #bfa372;
							border-radius: 10px/100%;
							cursor: pointer;
						}
					}
					.days{
						p{
							span{
								visibility: visible;
								display: inline-block;
								left: 0px;
								top: 0px;
								padding-right:3.6rem;
								font-size: 1.6rem;
								transform:translateY(-60px);
								&::before{
									content:'дней';
									display: inline-block;
									top: 0;
									left: 0;
									transform:translateX(45px)translateY(60px);

								}

							}
						}
						.text{
							text-align: left;
							margin-bottom: -5px;
							font-size: 0.7rem;

						}
						h3{
							text-align: left;
							font-size: 1.2rem;
						}
						input[type=range]  {
							position: relative;
							width: 100%;
							-webkit-appearance: none;
							-moz-appearance: none;
							appearance: none;
						}
						input[type=range]::-webkit-slider-runnable-track {
							border-radius: 5px;
							height: 2px;
							background-color: #bfa372;
						}
						input[type=range]::-webkit-slider-thumb {
							background: #bfa372;
							border-radius: 10px;
							border:3px solid rgba(0, 0, 0, 0.9); 
							cursor: pointer;
							width:17px;
							height: 17px;
							-webkit-appearance: none;
							margin-top: -7px;
						}

						input[type=range]::-moz-range-track {
							border-radius: 10px/100%;
							height: 2px;
							background-color: #bfa372;
						}
						input[type=range]::-moz-range-thumb {
							background: #bfa372;
							border-radius: 10px/100%;
							cursor: pointer;
						}
					}
				}


			}
			.popup-number{
				.number-now{
					span{
						text-align: left;
						&::after{
							width: 240px;
						}
					}
				}

			}

		}
	}
	.popup-four{
		.popup-content{
			.popup-form{
				p{
					color:#bfa372;
				}
				.descrip{
					width: 100%;
					height: 100%;
					background-color: rgba(24,23,23, 1);;
					color: #fff;
				}			
			}
			.popup-number{
				.number-now{
					span{
						text-align: left;
						&::after{
							width: 320px;
						}
					}
				}

			}

		}
	}
	.popup-five{
		.popup-content{
			.popup-form{
				p{
					color:#bfa372;
				}
				.descrip{
					width: 100%;
					height: 100%;
					background-color: rgba(24,23,23, 1);;
					color: #fff;
				}			
			}
			.popup-number{
				.number-now{
					span{
						text-align: left;
						&::after{
							width: 400px;
						}
					}
				}

			}

		}
	}
	.popup-last{
		.popup-body{
			width: 100%;
			height: 100vh;
		}
	}
	@media (min-width: 2560px) {

	}
	@media (max-width:3453px) {
		.index{
			.main{
				.main-content{
					.design{
						.line{
							transform:translateX(111%)translateY(-111%);
						}
					}
				}
			}
		}

	}
	@media (min-width:3087px) {
		.index{
			.main{
				.main-content{
					.buro{
						margin-left: -5%;
					}
					.design{
						margin-left: 24%;
					}
					.uslug{
						margin-left:20%
					}
				}
			}
		}

	}
	@media (min-width:2052px)and(max-width:2559px) {
		.index{
			.main{
				.main-content{
					.design{
						.line{
							transform:translateX(0)translateY(0);
						}
					}
				}
			}
		}

	}
	@media (min-width:1900px)and(max-width:1920px) {
		.index{
			.main{
				.main-content{
					.design{
						.line{
							transform:translateX(0)translateY(0);
						}
					}
				}
			}
		}

	}
	@media (min-width:1920px)and(max-width:2559px) {
		.index{
			overflow-x:hidden;
			.main{
				overflow-y:hidden;
				overflow-x:hidden;
				.main-header{
					height: 100px;
					.col-lg-4,.col-lg-5,.col-lg-3{
						height: 150px;
					}
					.header-logo{
						height: 100px;
						.header-left{
							padding-left: 30px;
							padding-top: 0px;
							a{

								span{
									font-family: 'TTNorms-Regular',sans-serif;
									color: #fff;
									text-decoration: none;
									display: inline-block;
									font-weight: 600;
									font-size: 4rem;

								}

								.first{
									&:hover::after{
										content:'';
										border:2px solid #bfa372;
										display: inline-block;
										rotate:90deg;
										width: 150px;
										margin: 0px 8px 25px 8px;
										background-color:#bfa372;

										animation:fadeInLeft 0.5s ;	

									}

								}
								.second{
									&:after{
										content:'.';
										color:#bfa372;
										font-size:5rem;
									}
								}


							}
							.eng{
								text-decoration: none;
								font-size: 1.5rem;
								font-weight: 500;
								color: #fff;
								margin-left: 111px;
								font-family:'TTNorms-Regular',sans-serif;
							}
						}

					}
					.header-nav{
						display: inline-block;
						width: 100%;
						height: 100%;
						ul{
							width: 100%;
							height: 100%;
							padding: 0;
							margin: 0;
							display: inline-block;
							li{
								width:24%;
								height: 40%;
								display: inline-block;
								text-align: center;
								font-size: 1.6rem;
								a{

									cursor: pointer;
									color: #fff;
									text-decoration: none;
									font-family: 'TTNorms-Regular',sans-serif;
								}
							}
						}
					}
					.popup-link{
						text-decoration: none;
						.header-form{
							display: inline-flex;
							width: 100%;
							height: 100%;
							background: #1d1c1c;
							border:none;

							.form-open{
								padding-top: 0;
								padding-right: 20px;
								display: inline-block;
								padding-top: 3rem;
								justify-content: center;
								display: flex;
								width: 100%;
								height: 100%;

								span{
									font-family: 'TTNorms-Regular',sans-serif;
									display: inline-block;
									color: #bfa372;
									letter-spacing: .38em;
									font-size: 1.4rem;
									font-weight: 550;

								}
								.psevdo{
									display: inline-block;
									span{
										display: inline-block;	
										color: #fff;	
										margin-left: 7px;
										&::after{
											content:'';
											display: inline-block;
											border:1px solid #fff;
											width: 75%;
											transform: translateX(-10%)translateY(-17px);	
										}
									}

								}
							}

						}
					}
				}
				.main-content{
					padding-top: 7rem;
					height: 885px;
					width: 100%;
					span{
						display: inline;
						font-weight: 700;
						font-size: 12rem;
						line-height: 12rem;
						text-transform: uppercase;

					}
					.buro{
						padding-bottom: 1rem;
						visibility: visible;
						margin-left: -15%;
						.line{
							color: transparent;
							-webkit-text-stroke-width: 2.75px;
							-webkit-text-stroke-color: #363636;
						}
						.white{
							color: #fff;
						}
						.gold{
							color: #bfa372;
						}

					}
					.design{
						padding-bottom: 1rem;
						visibility: visible;
						margin-left: 15%;
						height: 30%;
						.line{
							display: inline-block;
							color: transparent;
							-webkit-text-stroke-width: 2.75px;
							-webkit-text-stroke-color: #363636;
						}
						.white{
							display: inline;
							color: #fff;
						}
						.gold{
							display: inline;
							color: #bfa372;
						}

					}
					.uslug{
						visibility: visible;
						margin-left:2%;
						.line{
							color: transparent;
							-webkit-text-stroke-width: 2.75px;
							-webkit-text-stroke-color: #363636;
						}
						.white{
							color: #fff;
						}
						.gold{
							color: #bfa372;
						}
					}
				}
				.main-footer{
					height: 100px;
					padding-top: 0;
					.container-fluid{
						height: 100%;
						.row{
							height: 100%;
							.col-lg-4{
								height: 100%;
							}
						}
					}

					.black{
						height: 100%;
						background-color: black;
						background: rgba(0,0,0, 0.4);
					}
					.footer-year{
						height: 100%;
						color:#fff;
						p{
							font-family: 'TTNorms-Regular',sans-serif;
							padding-top: 1rem;
							font-size: 1.6rem;
							height: 100%;
						}
					}
					.footer-be{
						height: 100%;
						a{
							font-family: 'TTNorms-Regular',sans-serif;
							font-size: 1.7rem;
							color: #fff;
							text-decoration: none;
						}
						text-align: center;

					}
					.footer-mail{	
						height: 100%;
						a{
							font-family: 'TTNorms-Regular',sans-serif;
							font-size: 1.7rem;
							color:#bfa372;
							text-decoration: none;
						}
						text-align: right;
					}
				}
			}
		}
	}
	@media (min-width:1366px)and(max-width:1920px) {
		.index{
			overflow-x:hidden;
			.main{
				.main-header{
					height: 100px;
					.col-lg-4,.col-lg-5,.col-lg-3{
						height: 110px;
					}
					.header-logo{
						height: 100px;
						.header-left{
							height: 100%;
							padding-left: 30px;
							padding-top: 0px;
							a{

								span{
									font-family: 'TTNorms-Regular',sans-serif;
									color: #fff;
									text-decoration: none;
									display: inline-block;
									font-weight: 600;
									font-size: 3.5rem;

								}

								.first{
									&:hover::after{
										content:'';
										border:2px solid #bfa372;
										display: inline-block;
										rotate:90deg;
										width: 150px;
										margin: 0px 8px 25px 8px;
										background-color:#bfa372;

										animation:fadeInLeft 0.5s ;	

									}

								}
								.second{
									&:after{
										content:'.';
										color:#bfa372;
										font-size:5rem;
									}
								}


							}
							.eng{
								text-decoration: none;
								font-size: 1.2rem;
								font-weight: 500;
								color: #fff;
								margin-left: 111px;
								font-family:'TTNorms-Regular',sans-serif;
							}
						}

					}
					.header-nav{
						display: inline-block;
						width: 100%;
						height: 100%;
						ul{
							width: 100%;
							height: 100%;
							padding: 0;
							margin: 0;
							display: inline-block;
							li{
								width:24%;
								height: 40%;
								display: inline-block;
								text-align: center;
								font-size: 1.5rem;
								a{

									cursor: pointer;
									color: #fff;
									text-decoration: none;
									font-family: 'TTNorms-Regular',sans-serif;
								}
							}
						}
					}
					.popup-link{
						text-decoration: none;
						.header-form{
							display: inline-flex;
							width: 100%;
							height: 100%;
							background: #1d1c1c;
							border:none;

							.form-open{
								display: inline-block;
								padding-top: 2.4rem;
								padding-left: 0;
								justify-content: center;
								display: flex;
								width: 100%;
								height: 100%;

								span{
									font-family: 'TTNorms-Regular',sans-serif;
									display: inline-block;
									color: #bfa372;
									letter-spacing: .38em;
									font-size: 1.1rem;
									font-weight: 550;

								}
								.psevdo{
									display: inline-block;
									span{
										display: inline-block;	
										color: #fff;	
										margin-left: 7px;
										&::after{
											content:'';
											display: inline-block;
											border:1px solid #fff;
											width: 75%;
											transform: translateX(-10%)translateY(-17px);	
										}
									}

								}
							}

						}
					}
				}
				.main-content{
					padding-top: 4rem;
					height: 885px;
					width: 100%;
					span{
						display: inline;
						font-weight: 700;
						font-size: 11rem;
						line-height: 12rem;
						text-transform: uppercase;

					}
					.buro{
						padding-bottom: 1rem;
						visibility: visible;
						margin-left: -15%;
						.line{
							color: transparent;
							-webkit-text-stroke-width: 2.75px;
							-webkit-text-stroke-color: #363636;
						}
						.white{
							color: #fff;
						}
						.gold{
							color: #bfa372;
						}

					}
					.design{
						padding-bottom: 1rem;
						visibility: visible;
						margin-left: 15%;
						height: 27%;
						.line{
							display: inline-block;
							color: transparent;
							-webkit-text-stroke-width: 2.75px;
							-webkit-text-stroke-color: #363636;
						}
						.white{
							display: inline;
							color: #fff;
						}
						.gold{
							display: inline;
							color: #bfa372;
						}

					}
					.uslug{
						visibility: visible;
						margin-left:2%;
						.line{
							color: transparent;
							-webkit-text-stroke-width: 2.75px;
							-webkit-text-stroke-color: #363636;
						}
						.white{
							color: #fff;
						}
						.gold{
							color: #bfa372;
						}
					}
				}
				.main-footer{
					height: 80px;
					padding-top: 0;
					.container-fluid{
						height: 100%;
						.row{
							height: 100%;
							.col-lg-4{
								height: 100%;
							}
						}
					}

					.black{
						height: 100%;
						background-color: black;
						background: rgba(0,0,0, 0.4);
					}
					.footer-year{
						height: 100%;
						color:#fff;
						p{
							font-family: 'TTNorms-Regular',sans-serif;
							padding-top: 1rem;
							font-size: 1.2rem;
							height: 100%;
						}
					}
					.footer-be{
						height: 100%;
						a{
							font-family: 'TTNorms-Regular',sans-serif;
							font-size: 1.4rem;
							color: #fff;
							text-decoration: none;
						}
						text-align: center;

					}
					.footer-mail{	
						height: 100%;
						a{
							font-family: 'TTNorms-Regular',sans-serif;
							font-size: 1.4rem;
							color:#bfa372;
							text-decoration: none;
						}
						text-align: right;
					}
				}
			}
		}
	}
	@media (min-width:768px)and(max-width:1366px) {
		.index{
			overflow-x:hidden;
			.main{
				.main-header{
					height: 70px;
					.col-lg-4,.col-lg-5,.col-lg-3,.col-md-4,.col-md-5,.col-md-3{
						height: 70px;
						padding: 0;
					}
					.header-logo{
						height: 100%;
						width: 100%;
						.header-left{
							text-align: center;
							height: 100%;
							width: 100%;
							padding-left: 0px;
							padding-top: 20px;
							a{
								span{
									font-family: 'TTNorms-Regular',sans-serif;
									color: #fff;
									text-decoration: none;
									display: inline-block;
									font-weight: 600;
									font-size: 2rem;

								}

								.first{
									&:hover::after{
										content:'';
										border:2px solid #bfa372;
										display: inline-block;
										rotate:90deg;
										width: 150px;
										margin: 0px 8px 25px 8px;
										background-color:#bfa372;

										animation:fadeInLeft 0.5s ;	

									}

								}
								.second{
									&:after{
										content:'.';
										color:#bfa372;
										font-size:2rem;

									}
								}


							}
							.eng{
								text-decoration: none;
								font-size: 0.9rem;
								font-weight: 500;
								color: #fff;
								margin-left: 1.5rem;
								font-family:'TTNorms-Regular',sans-serif;
							}
						}

					}
					.header-nav{
						display: inline-block;
						width: 320px;
						height: 100%;
						ul{
							width: 100%;
							height: 100%;
							padding: 0;
							margin: 0;
							display: inline-block;
							li{
								width:24%;
								height: 40%;
								display: inline-block;
								text-align: center;
								font-size: 1rem;
								padding: 0;
								a{

									cursor: pointer;
									color: #fff;
									text-decoration: none;
									font-family: 'TTNorms-Regular',sans-serif;
								}
							}
						}
					}
					.popup-link{
						text-decoration: none;
						.header-form{
							display: inline-flex;
							width: 100%;
							height: 100%;
							background: #1d1c1c;
							border:none;

							.form-open{
								display: inline-block;
								padding-top: 1.9rem;
								padding-left: 0;
								justify-content: center;
								display: flex;
								width: 100%;
								height: 100%;

								span{
									font-family: 'TTNorms-Regular',sans-serif;
									display: inline-block;
									color: #bfa372;
									letter-spacing: .38em;
									font-size: 0.7rem;
									font-weight: 550;

								}
								.psevdo{
									display: inline-block;
									span{
										display: inline-block;	
										color: #fff;	
										margin-left: 7px;
										&::after{
											content:'';
											display: inline-block;
											border:1px solid #fff;
											width: 75%;
											transform: translateX(-10%)translateY(-12px);	
										}
									}

								}
							}

						}
					}
				}
				.main-content{
					padding-top: 0rem;
					height:80%;
					width: 100%;
					span{
						display: inline;
						font-weight: 700;
						font-size: 8rem;
						text-transform: uppercase;

					}
					.buro{
						padding-bottom: 0rem;
						visibility: visible;
						margin-left: -15%;
						height: 15%;
						.line{
							color: transparent;
							-webkit-text-stroke-width: 2.75px;
							-webkit-text-stroke-color: #363636;
						}
						.white{
							color: #fff;
						}
						.gold{
							color: #bfa372;
						}

					}
					.design{
						padding-bottom: 0rem;
						visibility: visible;
						margin-left: 15%;
						height: 15%;	
						.line{
							display: inline-block;
							color: transparent;
							-webkit-text-stroke-width: 2.75px;
							-webkit-text-stroke-color: #363636;
						}
						.white{
							display: inline;
							color: #fff;
						}
						.gold{
							display: inline;
							color: #bfa372;
						}

					}
					.uslug{
						visibility: visible;
						margin-left:2%;
						.line{
							color: transparent;
							-webkit-text-stroke-width: 2.75px;
							-webkit-text-stroke-color: #363636;
						}
						.white{
							color: #fff;
						}
						.gold{
							color: #bfa372;
						}
					}
				}
				.main-footer{
					height: 80px;
					padding-top: 0;
					.container-fluid{
						height: 100%;
						.row{
							height: 100%;
							.col-lg-4{
								height: 100%;
							}
						}
					}

					.black{
						height: 100%;
						background-color: black;
						background: rgba(0,0,0, 0.4);
					}
					.footer-year{
						height: 100%;
						color:#fff;
						p{
							font-family: 'TTNorms-Regular',sans-serif;
							padding-top: 1rem;
							font-size: 0.8rem;
							height: 100%;
						}
					}
					.footer-be{
						height: 100%;
						a{
							font-family: 'TTNorms-Regular',sans-serif;
							font-size: 0.8rem;
							color: #fff;
							text-decoration: none;
						}
						text-align: center;

					}
					.footer-mail{	
						height: 100%;
						a{
							font-family: 'TTNorms-Regular',sans-serif;
							font-size: 0.8rem;
							color:#bfa372;
							text-decoration: none;
						}
						text-align: right;
					}
				}
			}
		}
	}
	@media (min-width: 768px)and(max-width: 885px) {
		.index{
			.main{
				.main-content{
					.design{
						.line{

						}
					}
					.uslug{
						.white{
							transform:translateX(200px);
						}
						.gold{

						}
					}
				}
			}
		}
	}
	@media (min-width:2744px)and(max-width:3452px) {
		.index{
			.main{
				.main-content{
					.design{
						.line{
							transform:translateX(0)translateY(0);
						}
					}
				}
			}
		}
	}